/**
 * Common include for general/jQuery UI functionality.
 */

@import url("bootstrap/css/bootstrap-responsive.min.css");

@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	
	div.navbar-wrapper .navbar-inner {
		border-bottom: 0;
		border-top: 0;
		margin-left: -20px;
		margin-right: -20px;
	}

	.narrow-block,
	.mobile-block {
		display: block;
	}
	.narrow-inline,
	.mobile-inline {
		display: inline;
	}
	.wide-block,
	.wide-inline {
		display: none;
	}

	.navbar .brand {
		display: block;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar .container {
    width: 724px;
  }
}

@media (min-width: 1200px) {
	.navbar .container {
		width: 1170px;
	}
}