@charset "utf-8";

@import url("df-ui.css");
@import url("df-ui-responsive.css");

html {
	background: #DCD3CE url('./layout/bootstrap_bodybg.png') top left repeat-x;
}
body {
	background: transparent;
}

h1.title {
	padding: 0 0 15px 20px;
}

a {
  color: #330000;
}
a:hover {
  color: #6F0000;
}

#header-wrapper {
	background-color: #330000;
	background-image: -moz-linear-gradient(top, #6F0000, #330000);
	background-image: -ms-linear-gradient(top, #6F0000, #330000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6F0000), to(#330000));
	background-image: -webkit-linear-gradient(top, #6F0000, #330000);
	background-image: -o-linear-gradient(top, #6F0000, #330000);
	background-image: linear-gradient(top, #6F0000, #330000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F0000', endColorstr='#330000', GradientType=0);
	
	padding: 5px 0;
}
#header {
	background: url('layout/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('layout/header_right.png') center right no-repeat;
	height: 100px;
	position: relative;
}
#header a {
	color: #EFEFEF;
	text-decoration: none;
}

.navbar-wrapper .navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	border-bottom: 1px solid #330000;
	border-top: 1px solid #330000;
}

#logo-title-site,
#logo-title-tamu {
	position: absolute;
}

#logo-title-site {
	top: 10px;
	left: 5px;
}
#logo-title-site,
#logo-title-site img {
	width: 500px;
	height: 75px;
}

#logo-title-tamu {
	top: 10px;
	right: 5px;
}
#logo-title-tamu,
#logo-title-tamu img {
	width: 350px;
	height: 75px;
}

div#content_top_wrapper {
	margin-top: -18px;
	background: #EFEFEF;
	border-bottom: 1px solid #CCC;
}
div#content_top {
	color: #888;
	padding: 10px 0 3px 0;
}

div#page_wrapper {
	margin-top: 20px;
}

div#breadcrumb {
	font-size: smaller;
	padding: 0 20px 0px 20px;
}

div#copyright {
	margin-top: 10px;
	text-align: center;
}

/**
 * Dark Background Support

div#breadcrumb,
div#content > h1.title,
div#copyright {
	text-shadow: 1px 1px 0px #000;
	color: #EEE;
}

div#breadcrumb a,
div#content > h1.title a,
div#copyright a {
	color: #CCCCCC;
}

div.floating {
	-webkit-box-shadow:0 0 15px #000; 
	-moz-box-shadow: 0 0 15px #000; 
	box-shadow:0 0 15px #000; 
}

*/

/**
 * Special Site Areas
 */

div.announcement {
	padding: 0px;
}
div.announcement h3 {
	padding-top: 5px;
	line-height: 25px;
}
div.announcement h3 span {
	vertical-align: top;
}

div#content_tabs {
	padding: 0 15px;
	margin-top: -10px;
}
div#content_tabs ul {
	margin-bottom: 0;
	border-bottom: 0;
}
div#content_tabs ul.nav-pills {
	margin-bottom: 15px;
}
div#content_tabs .tabs > li > a {
	border-bottom: 0;
	z-index: 10000;
}
div#content_tabs ul li.pull-right {
	float: right;
}

.nav-pills .active > a,
.nav-pills .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	background-color: #550000;
}