<?
$this->headTitle('Walk Through Appointments');

$start_time = 900;
$end_time = 2000;
$appointments = $this->appointments;
$dates = $this->dates;
$last_week = strtotime('-7 days', $dates[0]);
$next_week = strtotime('+7 days', $dates[0]);
$csrf = \DF\Csrf::getToken();
?>
<div class="date_nav">
    <span class="nav_prev">
        <a class="ui-button small" href="<?php echo $this->routeFromHere(array('date' => $last_week)); ?>" title="Previous Week">&laquo; Previous Week</a>
    </span>
    <span class="nav_next">
        <a class="ui-button small" href="<?php echo $this->routeFromHere(array('date' => $next_week)); ?>" title="Next Week">Next Week &raquo;</a>
    </span>
</div>
<table class="datatable zebra" style="text-align:center;">
    <tr>
        <th width="15%">Time</th>
        <?php foreach($dates as $date): ?>
        <th>
            <?php echo date('m/d/Y', $date); ?>
            <p style="margin:0;font-weight:normal;">(<?php echo MoveoutAppointmentLimit::fetchLimitByDate($date); ?> per hour) <a class="btn_edit_maxappointments" href="<?php echo $this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'editmaxappointments', 'date' => $date)); ?>" title="Change appointment limit"><?php echo $this->icon('pencil'); ?></a></p>
        </th>
        <?php endforeach; ?>
    </tr>
<?php while($start_time <= $end_time): ?>
    <tr>
        <td><?php echo date('g:ia', strtotime(str_pad($start_time, 4, '0', STR_PAD_LEFT))); ?> &ndash; <?php echo date('g:ia', strtotime(str_pad(($start_time + 100), 4, '0', STR_PAD_LEFT))); ?></td>
        <?php if ($start_time != 1200): ?>
        <?php foreach($dates as $date): ?>
        <td>
            <?php if (!empty($appointments[(string)$date][str_pad($start_time, 4, '0', STR_PAD_LEFT)])): ?>
            <?php foreach($appointments[(string)$date][str_pad($start_time, 4, '0', STR_PAD_LEFT)] as $appt): ?>
            <div class="appt<?php if ($appt->movein) echo ' movein'; ?>">
                <?php
                if ($appt->resident->id)
                {
                    echo '<a href="'.$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $appt->resident->id)).'" title="View Resident">'.$appt->resident->getNameFirstLast().'</a>';
                    if ($appt->occupancy->id) echo '<br/><a href="'.$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'view', 'id' => $appt->occupancy->asset->id)).'">'.$appt->occupancy->asset->name.'</a>';
                    echo '<a class="delete-button confirm-delete" href="'.$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'deletewalkthrough', 'id' => $appt->id, 'csrf' => $csrf)).'" title="Delete appointment">'.
                        $this->icon('delete').
                        '</a>';
                    if (!$appt->movein)
                        echo '<br/>move-out';
                    else
                        echo '<br/>move-in';
                }
                ?>
            </div>
            <?php endforeach; ?>
            <?php endif; ?>
            <a id="<?php echo 'add-'.$date.'-'.str_pad($start_time, 4, '0', STR_PAD_LEFT); ?>" class="btn_add_appt" href="#" title="Add appointment"><?php echo $this->icon('add'); ?></a>
        </td>
        <?php endforeach; ?>
        <?php else: ?>
        <td colspan="<?php echo count($dates); ?>" style="background:#ccc;">NO APPOINTMENTS</td>
        <?php endif; ?>
    </tr>
    <?php $start_time += 100; ?>
<?php endwhile; ?>
</table>

<div id="dialog_add_appointment">
    <dl>
        <dt>Search for Resident:</dt>
        <dd><input type="checkbox" name="toggle_movein" id="toggle_movein"/> Move-in</dd>
        <dd><input type="text" id="field-resident-name" name="field-resident-name" class="full-width" /></dd>
    </dl>

    <dl id="resident-search-results"></dl>

    <form id="frm_add_appointment" action="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'addwalkthrough')) ?>" method="post">
    <input type="hidden" id="resident_id" name="resident_id" value="0" />
    <input type="hidden" id="date" name="date" value="0" />
    <input type="hidden" id="slot" name="slot" value="0" />
    <input type="hidden" id="movein" name="movein" value="0" />
    </form>
</div>

<style>
.appt {
    position: relative;
    background: #D5FFD5;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin: 1px;
}
.appt .icon {
    position: absolute;
    top: 1px;
    right: 1px;
}
.movein {
    background: #fdf5ce;
}
.btn_add_appt {
    float: left;
}
.date_nav {
    margin-bottom: 1em;
}
.date_nav .nav_next {
    float: right;
}
</style>

<?php $this->headScript()->captureStart() ?>

$(document).ready(function(){
    $('.btn_edit_maxappointments').DFFormDialog(
        'max_appointments',
        { 'title' : 'Edit Appointment Limit', 'width' : 300, 'height' : 250 }
    );

    $('#dialog_add_appointment').dialog({
        title: 'Add Appointment',
        width: 400,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
            "Submit": function() { $(this).find('form').submit(); },
            "Close": function() { $(this).dialog('close'); }
        }
    });

    $('a.btn_add_appt').click(function() {
        var id_parts = $(this).attr('id').split('-');
        var date = id_parts[1];
        var slot = id_parts[2];
        $("#frm_add_appointment input[name='date']").val(date);
        $("#frm_add_appointment input[name='slot']").val(slot);
        $('#dialog_add_appointment').dialog('open');
        return false;
    });

    $('#toggle_movein').change(function() {
        if ($(this).attr('checked'))
            $('#movein').val('1');
        else
            $('#movein').val('0');
        return false;
    });

    $('a.btn_choose_resident').live('click', function() {	
        $("#frm_add_appointment input[name='resident_id']").val($(this).attr('rel'));
        $("#frm_add_appointment").submit();
        return false;
    });

    var vTimeout;
	$('input#field-resident-name').keyup(function() {
		clearTimeout(vTimeout);
		vTimeout = setTimeout('lookUpResident()', 300);
	});
});

function lookUpResident()
{
	$('#resident-search-results').show();
	$('#resident-search-results').html('<dd>Searching...</dd>');

	$.getJSON('<?=$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'findresident')) ?>', { query: $('#field-resident-name').val() }, function(data) {
		if (data.results_num == 0)
		{
			$('#part-search-results').html('<dd>No results found.</dd>');
		}
		else
		{
			var lookup_html = '';
			var lookup_link = '';

			for (var i=0; i<data.results.length; i++)
			{
				result = data.results[i];
				lookup_html += '<a class="btn_choose_resident" rel="'+result.id+'" href="#">'+result.text+'</a><br>';
			}

			$('#resident-search-results').html('<dd>'+lookup_html+'</dd>');
		}
	});
}

<?php $this->headScript()->captureEnd() ?>