<?
$this->headTitle('Manage Workers');
?>
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => 0)),
		'icon'		=> 'add',
		'text'		=> 'Add Worker',
	)) ?>
</div>

<? $this->zebra('reset'); ?>
<table class="datatable">
	<colgroup>
    	<col width="30%" />
        <col width="10%" />
        <col width="60%" />
    </colgroup>
    <tr>
        <th>Actions</th>
        <th>Active</th>
        <th>Name</th>
    </tr>
<? foreach($this->all_records as $record): ?>
    <tr class="<?=$this->zebra() ?>">
    	<td align="center">
			<?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'find',
				'href'		=> $this->routeFromHere(array('controller' => 'manage', 'action' => 'requests', 'worker_id' => $record->id)),
				'text'		=> 'Requests',
				'title'		=> 'Find all requests for this worker',
			)) ?>
            <?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'pencil',
				'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id, 'csrf' => \DF\Csrf::getToken())),
				'text'		=> 'Edit',
				'title'		=> 'Edit this worker\'s information',
			)) ?>
        	<?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'delete',
				'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record->id, 'csrf' => \DF\Csrf::getToken())),
                'class'     => 'confirm-delete negative',
				'text'		=> 'Delete',
				'title'		=> 'Delete this worker',
			)) ?>
        </td>
        <td align="center"><? if ($record->active): ?>Yes<? else: ?>No<? endif; ?></td>
    	<td align="left"><?=$record->name; ?></td>
    </tr>
<? endforeach; ?>
</table>

