<?php
$this->headTitle('Refund Security Deposits');
?>

<h2>Refund Processed</h2>

<dl>
    <dt>Resident Name:</dt>
    <dd><?=$this->resident->getNameFirstLast() ?> (<?=$this->resident->uin ?>)</dd>
    
    <dt>Total Refund Amount:</dt>
    <dd><big>$<?=number_format($this->refund_amount, 2) ?></big></dd>
</dl>

<p>The refund listed above has been processed in the database.</p>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'application_go',
        'text'      => 'Back to Ledger',
        'href'      => $this->route(array('module' => 'finances', 'controller' => 'ledger', 'action' => 'index', 'id' => $this->resident->id)),
    )) ?>
</div>
