<?php
$this->headTitle('Refund Security Deposits');
?>

<h2>About the Refund</h2>

<dl>
    <dt>Resident Name:</dt>
    <dd><?=$this->resident->getNameFirstLast() ?> (<?=$this->resident->uin ?>)</dd>
    
    <dt>Deposit Amount:</dt>
    <dd>$<?=number_format($this->deposit_total, 2) ?></dd>
    
    <dt>Tentative Debit Amount:</dt>
    <dd>$<?=number_format($this->debit_total, 2) ?></dd>
    
    <dt>Tentative Total Refund Amount:</dt>
    <dd><big>$<?=number_format($this->refund_amount, 2) ?></big></dd>
</dl>

<h2>Post Final Charges</h2>
<p>If you have additional charges that should be posted to the resident's ledger before the security deposit is refunded, specify them using the text fields below. <b>Note that the totals above will not update to reflect these changes until the refund is processed.</b></p>

<dl>
<? foreach($this->final_charge_names as $charge_id => $charge_name): ?>
    <dt><?=$charge_name ?></dt>
    <dd>$<input type="text" name="final_charges[<?=$charge_id ?>]"></dd>
<? endforeach; ?>
</dl>

<h2>Process Refund</h2>

<p>To create the transactions on the user's ledger that will reflect this refund, click the button below. The refund will still need to be processed manually.</p>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'arrow_switch',
        'text'      => 'Process Refund',
        'href'      => $this->routeFromHere(array('process' => 'true')),
    )) ?>
</div>
