<?
$this->headTitle('Maintenance Cost By Building Report');
?>

<h2>Select a Building</h2>

<dl>
<? foreach($this->complexes as $complex_name => $complex_buildings): ?>
	<dt><?=$complex_name ?></dt>
	<dd>
	<? foreach($complex_buildings as $building_id => $building_name): ?>
		<div><a href="<?=$this->routeFromHere(array('asset_id' => $building_id)) ?>"><?=$building_name ?></a></div>
	<? endforeach; ?>
	</dd>
<? endforeach; ?>
</dl>