<?
$this->headTitle('Maintenance Cost By Building Report');
?>

<h2><?=$this->building['name'] ?></h2>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'page_white_excel',
		'href'		=> $this->routeFromHere(array('format' => 'csv')),
		'text'		=> 'Download to Excel',
	)) ?>
</div>

<table class="datatable zebra" width="100%">
	<colgroup>
		<col width="50%" />
		<col width="25%" />
		<col width="25%" />
	</colgroup>
	<thead>
		<tr>
			<th>Month</th>
			<th>Parts Used</th>
			<th>Total Cost</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->workorders_per_month as $month_info): ?>
		<tr>
			<td align="left"><?=$month_info['name'] ?></td>
			<td align="center"><?=count($month_info['items']) ?></td>
			<td align="right">$<?=number_format($month_info['total'], 2) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>