<?
$this->headTitle('Maintenance Reports');
?>

<dl>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'completedbymonth')) ?>">Maintenance Workorders Completed by Month</a></dt>
    <dd>View all completed workorders separated by category and month, as well as totals per month and per year.</dd>

    <dt><a href="<?=$this->routeFromHere(array('action' => 'costbybuilding')) ?>">Parts Cost by Building</a></dt>
    <dd>View the sum total of the cost of maintenance parts used in an entire building.</dd>
</dl>