<?php
$this->headTitle('Renew Apartment Lease');
?>

<form action="<?=$this->routeFromHere(array('step' => 'process')) ?>" method="post">
<h2>About Lease Renewal</h2>

<dl>
	<dt>Apartment Name:</dt>
	<dd><?=$this->occupancy->asset->name ?></dd>
</dl>

<p>This page allows you to renew your fixed-length lease for the coming year, or convert your existing month-to-month lease into a new fixed-length lease. This may be required to continue living in your current apartment.

<h3>Note for Month-to-Month Residents</h3>

<p>Renewing your lease using this feature will convert your lease to a fixed-length lease. Your month-to-month lease will terminate on the same day that the fixed-length lease begins. You will have the opportunity to review the new lease as part of this process.</p>

<p>To submit a request for lease renewal, complete the fields below and click the button to submit your request.</p>

<h3>Choose Desired Lease Term</h3>

<dl>
	<dt>Desired Lease Length:</dt>
	<dd><?=$this->formRadio('requested_lease_length', NULL, NULL, array(
		'12' => '12-month lease',
        '9' => '9-month lease',
	)) ?></dd>
</dl>

<h3>Choose Desired Rental Method:</h3>

<p>As part of the renewal process, you also have the option of modifying your existing rental method. Two rental methods available are <b>rent by apartment</b> and <b>rent by bedroom</b>. Your current rental method is <b>rent by apartment</b>.</p>

<p>If you wish to modify your rental method, the following notes apply:</p>
<ul>
	<li>If you currently have roommates, all of your roommates must agree to change the rental method. The roommates can indicate this by visiting this page from their profiles.</li>
	<li>Your monthly rent rate may change. This change will not take effect until the start of your new lease term.</li>
	<li>If you switch to a "rent by bedroom" rental method, you will not be able to specify your roommate.</li>
</ul>

<dl>
	<dt>Choose Desired Rental Method:</dt>
	<dd><?
		$model = OccupancyModel::fetchByName('Room');
		echo $this->formRadio('requested_occupancy_model', 0, NULL, array(
			0		=> 'Keep my current rental method. (Recommended)',
			$model->id => 'Switch my rental method to "Rent By Bedroom".',
		));
		?></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'email_go',
		'text'		=> 'Submit Lease Renewal Request',
	)) ?>
</div>
</form>