<?
if ($this->asset->assetType->name == "Complex")
    $item_name = 'Complex';
else if ($this->asset->assetType->name == "Building")
    $item_name = 'Building';
else
    $item_name = 'Apartment';

$this->headTitle('View '.$item_name.': '.$this->asset->name);
$edit = \DF\Acl::getInstance()->isAllowed('manage apartments');

$this->layout()->manual = true;
?>

<div class="row">
    <div class="span8">
        <div class="floating">
            <h2>General Details</h2>

            <?php if ($edit): ?>
            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'money',
                    'text'      => 'Set Costs',
                    'href'      => $this->route(array('module' => 'admin', 'controller' => 'assetcosts', 'action' => 'index', 'asset_id' => $this->asset->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'pencil',
                    'text'      => 'Edit Apartment',
                    'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $this->asset->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'delete',
                    'text'      => 'Delete Apartment',
                    'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $this->asset->id, 'csrf' => \DF\Csrf::getToken())),
                    'class'     => 'danger confirm-delete',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'lightning',
                    'text'      => 'Meter Readings',
                    'href'      => $this->route(array('module' => 'maintenance', 'controller' => 'electric', 'action' => 'special', 'asset_id' => $this->asset->id)),
                )) ?>
            </div>
            <?php endif; ?>

            <?=$this->asset_info_form->renderView() ?>
        </div>
        <div class="floating">
            <h2>Occupants</h2>

            <?php if ($edit): ?>
            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'add',
                    'class'     => 'success fancybox fancybox.ajax',
                    'href'      => $this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'add', 'asset_id' => $this->asset->id)),
                    'text'      => 'Add Occupancy',
                )) ?>
            </div>
            <?php endif; ?>
            <? if (count($this->asset->occupancies) > 0): ?>
            <table class="table table-striped" width="100%">
                <colgroup>
                    <col width="25%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="30%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>On&nbsp;Lease?</th>
                        <th>Status</th>
                        <th>Occupant Name</th>
                        <th>Starts</th>
                        <th>Ends</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($this->asset->occupancies as $occupancy): ?>
                    <tr>
                        <td align="center">
                            <?php if ($edit): ?>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'pencil',
                                'text'      => 'Edit',
                                'href'      => $this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'edit', 'id' => $occupancy->id, 'origin' => 'apartment')),
                            )) ?>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'delete',
                                'text'      => 'Delete',
                                'class'     => 'negative confirm-delete',
                                'href'      => $this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'delete', 'id' => $occupancy->id, 'csrf' => \DF\Csrf::getToken(), 'origin' => 'apartment')),
                            )) ?>
                            <?php endif; ?>
                        </td>
                        <td align="center"><a href="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'togglelease', 'id' => $occupancy->id)) ?>"><?=$occupancy->lease_signor ?></a></td>
                        <td align="center"><?=$occupancy->getStatusText() ?></td>
                        <td align="left"><big><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $occupancy->resident->id,))?>" title="View resident info"><?=$occupancy->resident->getNameFirstLast() ?></a></big></td>
                        <td align="center">
                            <?=$this->dateOrDefault($occupancy->start_date) ?>
                            <? if ($occupancy->checkin_date): ?>
                                <br><small><?=$this->dateOrDefault($occupancy->checkin_date) ?></small>
                            <? endif; ?>
                        </td>
                        <td align="center">
                            <?=$this->dateOrDefault($occupancy->end_date) ?>
                            <? if ($occupancy->checkout_date): ?>
                                <br><small><?=$this->dateOrDefault($occupancy->checkout_date) ?></small>
                            <? endif; ?>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
            <? else: ?>
                <p>This property does not currently have any occupancy records.</p>
            <? endif; ?>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <h2>Rent History</h2>

            <table class="table zebra" width="100%">
                <colgroup>
                    <col width="75%" />
                    <col width="25%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Date Range</th>
                        <th>Rent Cost</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($this->cost_history as $change): ?>
                    <tr>
                        <td align="left"><?=$change['range_text'] ?></td>
                        <td align="center">$<?=number_format($change['cost'], 2) ?></td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>