<?
$this->headTitle('Ledger for '.$this->resident->getNameLastFirst());
$this->layout()->tabs = $this->renderHere('tabs');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'vcard',
        'text'      => 'View Resident Info',
        'href'      => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $this->resident->id)),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'text'      => 'Add Credit',
        'href'      => $this->routeFromHere(array('action' => 'post', 'resident_id' => $this->resident->id, 'ledger_id' => $this->ledger_id, 'credit_or_debit' => 'C')),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'delete',
        'text'      => 'Add Debit',
        'href'      => $this->routeFromHere(array('action' => 'post', 'resident_id' => $this->resident->id, 'ledger_id' => $this->ledger_id, 'credit_or_debit' => 'D')),
    )) ?>
<? if (\DF\Acl::getInstance()->isAllowed('create refunds')): ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'money_delete',
        'text'      => 'Refund Security Deposit',
        'href'      => $this->route(array('module' => 'finances', 'controller' => 'refund', 'action' => 'deposits', 'id' => $this->resident->id)),
    )) ?>
<? endif; ?>
</div>

<?=$this->renderHere('notes') ?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="7%" />
        <col width="20%" />
        <col width="20%" />
        <col width="39%" />
        <col width="7%" />
        <col width="7%" />
    </colgroup>
    <thead>
        <tr>
            <th>Trans</th>
            <th>Date</th>
            <th>Item</th>
            <th>Memo</th>
            <th>Amount</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->transactions as $transaction): ?>
        <tr>
            <td align="center">
                <a href="<?=$this->route(array(
                    'module' => 'finances',
                    'controller' => 'transaction',
                    'action' => 'view',
                    'id' => $transaction->Transaction->id,
                )) ?>">#<?=$transaction->Transaction->id ?></a>
            </td>
            <td align="left"><?=$this->dateOrDefault($transaction->posted, 'm/d/Y g:ia') ?></td>
            <td align="left"><?=$transaction->Item->name ?> <? if ($transaction->credit_or_debit == "C" && $transaction->Transaction->register_id != NULL) { echo ' - Payment'; } ?></td>
            <td align="left">
                <?=$transaction->Transaction->memo ?>
            <? if ($transaction->Transaction->Touchnet instanceof Touchnet): ?>
                <? $touchnet = $transaction->Transaction->Touchnet; ?>
                <? if ($touchnet->payment_order_id): ?>
                <br>
                <small>TouchNet Transaction T<?=(int)$touchnet->payment_order_id ?> by "<?=$touchnet->payment_name ?>"</small>
                <? endif; ?>
            <? endif; ?>
            </td>
            <td align="left">$<? echo number_format($transaction->split_amount, 2); ?></td>
            <td align="left">$<? echo number_format($this->totals[$transaction->id], 2); ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>