<? if ($this->resident->notes): ?>
<fieldset>
    <legend>Resident Notes</legend>
    
    <?=$this->icon(array(
		'type'		=> 'png32',
		'image'		=> 'information',
		'style'		=> 'float: right',
	)) ?>
    
    <p>This resident (<a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $this->resident->id)) ?>" target="_blank"><?=$this->resident->getNameLastfirst() ?></a>) has notes associated with his/her account:</p>
    
    <blockquote>
    	<? echo nl2br($this->resident->notes); ?>
    </blockquote>
</fieldset>
<? endif; ?>
