<h2>Cleaning Charges Pending Review</h2>

<p>New cleaning charges have been uploaded and must be approved.</p>

<p>
    To approve this charge, visit this page:<br>
    <?=$this->link($this->route(array(
        'module' => 'maintenance',
        'controller' => 'cleaning',
        'action' => 'review',
        'id' => $this->id,
    ))) ?>
</p>