<h2>Maintenance Request Updated</h2>

<dl>
    <dt>Request ID:</dt>
    <dd><?=$this->record->id ?></dd>
    
    <dt>Time submitted:</dt>
    <dd><? echo date('m/d/Y g:ia', $this->record->time_reported) ?></dd>
    
    <dt>Location of Issue:</dt>
    <dd><?=$this->record->location ?></dd>
    
    <dt>Category of Issue:</dt>
    <dd><?=$this->record->Category->name ?></dd>
</dl>

<p>The status of this maintenance request has been changed. The new status is <b><?=$this->record->getStatusText() ?></b>.</p>

<p>
    To view the status of your previous maintenance requests online, visit this page:<br />
    <?=$this->link($this->route(array(
        'module' => 'maintenance',
        'controller' => 'submit',
        'action' => 'history'
    ))) ?>
</p>