<?
$this->headTitle('University Apartments Offer');
?>

<fieldset>
    <legend>Offer Details</legend>

    <h3>Apartment Offered</h3>

    <dl>
        <dt>Apartment Type:</dt>
        <dd><?=$this->asset->assetType->description; ?></dt>

        <dt>Monthly Rent:</dt>
        <dd>$<?=number_format($this->asset->getCost(), 2) ?></dd>

        <dt>Available From:</dt>
        <dd><?=date('M d, Y', $this->offer->move_in_date) ?></dd>

        <dt>Please Respond By:</dt>
        <dd><?=date('M d, Y', $this->offer->response_deadline) ?></dd>
    </dl>

<? if (!$this->app->is_renewal): ?>
    <h3>Security Deposit</h3>

    <p>All student residents of the University Apartments must pay a $<?php echo Settings::getSetting('application_deposit'); ?> USD security deposit to hold an apartment upon notification of an assignment. After occupancy, the deposit will be held against damages to TAMU owned property.</p>
<? endif; ?>

    <h3>Residency Quiz</h3>
    <p>All residents must pass our safety quizzes before living in University Apartments.</p>
</fieldset>

<fieldset>
    <legend>Housing Contract</legend>
    <p>Please thoroughly read the following housing contract and enter your initials in the text box below. You may print this page for your records.</p>

    <hr>

    <?=$this->lease_html ?>

    <form action="<?=$this->routeFromHere(array('action' => 'accept', 'id' => $this->offer->id, 'csrf' => \DF\Csrf::getToken())) ?>" method="post">
    <dl>
        <dt>Your University Identification Number (UIN):</dt>
        <dd><input type="text" name="uin"></dd>

        <dt>Your Initials:</dt>
        <dd><input type="text" name="initials" size="10" maxlength="5"></dd>
    </dl>

    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #CC0000; background: #FFDDDD">
        <p><b>Important: Clicking this button indicates that you agree to be bound by the University Apartments lease.</b><br>Please print a copy of this page for your records before continuing.</p>
    </div>

    <div class="buttons">
        <?=$this->button(array(
            'type'      => 'submit',
            'icon'      => 'tick',
            'text'      => 'Accept Apartment Offer',
        )) ?>
    </div>
    </form>

    <p>If you have any questions regarding the University Apartments, please contact the <a href="http://reslife.tamu.edu/aboutus/ua/" title="University Apartment Office">University Apartment Office</a>.</p>
</fieldset>