<?
$this->headTitle('View Blocked Residents');
?>

<?php echo $this->filter_form->render(); ?>
<?php
print $this->button(array(
        'type' => 'link',
        'href' => $this->route(array('module' => 'finances', 'controller' => 'resident', 'action' => 'blocked', 'format' => 'csv')),
        'icon' => 'page_white_excel',
        'text' => 'Download to Excel',
        'style' => 'margin: 1em 0; float: right;',
    ));
?>
<?=$this->paginate($this->pager) ?>

<? $this->zebra('reset'); ?>
<table class="datatable">
    <tr>
        <th>Name</th>
        <th>UIN</th>
        <th>Date blocked</th>
    </tr>
<? foreach($this->pager as $record): ?>
    <tr class="<?=$this->zebra() ?>">
        <td align="center"><a href="<?php echo \DF\Url::route(array('module'=>'management','controller'=>'residents','action'=>'view','id'=>$record['id'])); ?>" title="View resident"><?=$record['surname'] ?>, <?=$record['first_name'] ?> <?=$record['middle_name'] ?></a></td>
    	<td align="left"><?=$record['uin'] ?></td>
        <td align="left"><?=date('m/d/Y',$record['block_account']) ?></td>
    </tr>
<? endforeach; ?>
</table>

<?=$this->paginate($this->pager) ?>