<ul rel="<?=$this->ledger_id ?>">
<? foreach(Split::getLedgerIds() as $ledger_id => $ledger_name): ?>
    <li rel="<?=$ledger_id ?>"><a href="<?=$this->routeFromHere(array('ledger' => $ledger_id)) ?>"><?=$ledger_name ?></a></li>
<? endforeach; ?>
</ul>