<?
$this->headTitle('My Transaction History');
$this->layout()->tabs = $this->renderHere('ledger_tabs');
?>

<table class="datatable zebra" width="100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Note</th>
            <th>Amount</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->transactions as $transaction): ?>
        <tr>
            <td align="center"><?=$this->dateOrDefault($transaction->posted, 'm/d/Y g:ia') ?></td>
            <td align="left"><?=$transaction->Transaction->memo ?></td>
            <td align="left">$<? echo number_format($transaction->split_amount, 2); ?></td>
            <td align="left">$<? echo number_format($transaction->running_balance, 2); ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>