<?
$this->headTitle('Choose Payment Method');
$this->layout()->manual = TRUE;
?>

<div class="span4">
	<div class="floating">
    	<h2>Pay by Electronic Check (ACH)</h2>
        
        <p>If you will be paying by e-check, click the button below.</p>

        <div class="buttons">
        	<?=$this->button(array(
				'type'		=> 'link',
				'icon'		=> 'money',
				'href'		=> $this->routeFromHere(array('payment_method' => 'check')),
				'text'		=> 'Pay by E-Check',
			)) ?>
        </div>
    </div>
</div>
<div class="span4">
	<div class="floating">
    	<h2>Pay by Credit Card</h2>
        
        <p>If you will be paying by credit card, click the button below.</p>
        
        <div class="buttons">
        	<?=$this->button(array(
				'type'		=> 'link',
				'icon'		=> 'money',
				'href'		=> $this->routeFromHere(array('payment_method' => 'credit')),
				'text'		=> 'Pay by Credit Card',
			)) ?>
        </div>
    </div>
</div>
<div class="span4">
	<div class="floating">
    	<h2>Pay in Person</h2>

		<p>To pay this bill in person, visit the University Apartments main office during their operating hours.</p>
    </div>
</div>