<?
$this->headTitle('Pay Bill Online');
?>

<h2>Current Balance</h2>

<p>You currently owe <b>$<? echo number_format($this->amount_to_pay, 2); ?></b>. This amount must be paid in full if paying online. The amount consists of:</p>

<ul>
<? foreach($this->current_transactions as $split): ?>
    <li><b>$<? echo number_format(0-$split->split_amount, 2); ?></b>: <?=$split->Transaction->memo ?></li>
<? endforeach; ?>
</ul>

<h2>Pay Online</h2>

<p>To continue with your online payment, click the button below. You will be taken to the online payment processing system.</p>

<form action="<?=$this->transaction['url'] ?>" method="post">
<? foreach($this->transaction['fields'] as $field_name => $field_value): ?>
    <input type="hidden" name="<?=$field_name ?>" value="<?=$field_value ?>" />
<? endforeach; ?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'money',
        'class'     => 'positive',
        'text'      => 'Pay Online',
    )) ?>
</div>
</form>