<?
$this->headTitle('View Application History: '.$this->resident->getNameFirstLast());
?>

<?=$this->paginate($this->pager) ?>

<? $this->zebra('reset'); ?>
<table class="datatable">
    <tr>
        <th>Date of Application</th>
        <th>Floor Preference</th>
        <th>Special Needs</th>
        <th>Desired Move-in</th>
        <th>Contract Version</th>
        <th>Contract Initials</th>
        <th>Fee Paid</th>
    </tr>
<? foreach($this->pager as $record): ?>
    <tr class="<?=$this->zebra() ?>">
        <td><?=date('m/d/Y',$record['application_date']) ?></td>
    	<td><?=$record['floor_preference'] ?></td>
        <td><?=$record['special_needs'] ?></td>
        <td><?=(!empty($record['desired_move_in']) ? date('m/d/Y',$record['desired_move_in']) : '') ?></td>
        <td><?=$record['contract_version'] ?></td>
        <td><?=$record['contract_initials'] ?></td>
        <td><?=$record['fee_amount'] ?></td>
    </tr>
<? endforeach; ?>
</table>

<?=$this->paginate($this->pager) ?>