<?php
$this->layout()->manual = true;

$resident = $this->resident;
$csrf = \DF\Csrf::getToken();

$is_admin = \DF\Acl::getInstance()->isAllowed('administer all');

$edit_external = \DF\Acl::getInstance()->isAllowed('manage residents');
$edit = ($edit_external && !$this->external);

// var_dump($resident->toArray());

if ($this->mode === 'edit_profile')
{
    $this->headTitle('Edit My Profile');
    $profile = true;
    $grid = 'span4';
}
else
{
    $this->headTitle('View Resident: '. $resident->getNameFirstLast());
    $profile = false;
    $grid = 'span3';
}

if ($this->external)
    \DF\Flash::addMessage('<b>This resident is an on-campus housing resident.</b><br>Portions of this profile may be incomplete.', 'red');
?>

<div class="row">
    <div class="<?php echo $grid; ?>">
        <div class="floating">
        <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'user',
                'style'		=> 'float: right',
            )) ?>
            <h2>Resident Info</h2>

            <? if ($is_admin): ?>
            <div class="smallbuttons">
                <?=$this->button(array(
                    'type'  => 'small',
                    'class' => 'btn-inverse',
                    'href'  => $this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'masquerade', 'uin' => $resident->uin)),
                    'icon'  => 'key_go',
                    'text'  => 'Log In as User',
                ))?>
            </div>
            <? endif; ?>

        <?php if (($this->occupancies) && (!$profile)): ?>
        <dl>
            <dt>Assets</dt>
                <?php foreach($this->occupancies as $occupancy): ?>
                    <dd>
                        <?php if (!$profile): // if profile self-editing, don't link asset, don't show mailbox code ?>
                        <a href="<?=\DF\Url::route(array('module'=>'management','controller'=>'apartments','action'=>'view','id'=>$occupancy->asset->id))?>">
                        <?php endif; ?><?=$occupancy->asset->name ?><?php if (!$profile): ?></a>
                        &ndash; Mailbox Code: <?=$occupancy->asset->mailbox_code ?>
                        <?php endif; ?>
                    </dd>
                <?php endforeach; ?>
        </dl>
            <?php endif; ?>
            <dl id="personal_info">
                <dt>Personal Info
                    <?php if ($edit || $profile): ?>
                        <?=$this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editresidentinfo', 'id' => $resident->id)),
                            'class' => 'fancybox fancybox.ajax',
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_resident_info',
                        ))?>
                    <?php endif; ?>
                </dt>
                <dd>Name: <?php echo $resident->getNameFirstLast(); ?></dd>
                <dd>UIN: <?php echo $resident->uin; ?> </dd>
                <?php if (!$profile): ?>
                <dd>UIN sub id: <?php echo $resident->uin_sub_id; ?></dd>
                <?php endif; ?>
                <dd>Resident type: <?php echo $resident->type->name; ?></dd>
                <dd>Principal resident: <?php
                    if ($resident->principal_resident)
                        echo 'yes';
                    else
                        echo 'no';?></dd>
                <?php if (!$profile): ?>
                <dd>Laundry card: <?php echo $resident->laundry_card; ?></dd>
                <?php endif; ?>
                <dd>Birth Date: <?php echo $this->dateOrDefault($resident->birth_date); ?></dd>
                <?php if (count($resident->quiz_results) > 0): ?>
                    <dt>Orientation Quiz Results</dt>
                    <?php foreach($resident->quiz_results as $quiz): ?>
                        <?php if ($quiz->timestamp > 0): ?>
                            <dd>Quiz #<?php echo $quiz->quiz_id; ?> <?php echo $this->dateOrDefault($quiz->timestamp);?>
                            
                            <?php if ($edit_external): ?>
                            <a class="edit_quiz" href="<?php echo $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editquiz', 'id' => $resident->id, 'quiz_id' => $quiz->id)); ?>" title="Edit quiz result"><?=$this->icon('pencil') ?></a>
                            <a class="delete-button confirm-delete" href="<?php echo $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'deletequiz', 'id' => $resident->id, 'quiz_id' => $quiz->id, 'csrf' => $csrf)); ?>" title="Delete quiz result"><?=$this->icon('delete') ?></a>
                            <?php endif; ?>
                            </dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php if ($edit_external): ?>
                <dd>
                    <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editquiz', 'id' => $resident->id, 'quiz_id' => 0)),
                            'icon'  => 'add',
                            'text'  => 'Add quiz results',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
                </dd>
                <?php endif; ?>
            </dl>
            
            <dl id="family">
                <?php if (count($this->family) > 0): ?>
                <dt>Family Members</dt>
                <?php foreach($this->family as $f): ?>
                <dd><?php echo $f->getNameFirstLast(); ?> <? if ($f->type->name): ?>(<?=$f->type->name; ?>)<? endif; ?>
                    <?php if ($edit || $profile): ?>
                    <a class="edit_family_info" href="<?php echo $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editfamilyinfo', 'id' => $resident->id, 'fid' => $f->id)); ?>" title="Edit family member <?php echo $f->getNameFirstLast(); ?>"><?=$this->icon('pencil') ?></a>
                    <a class="delete-button confirm-delete" href="<?php echo $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'deletefamilymember', 'fid' => $f->id, 'csrf' => $csrf)); ?>" title="Delete family member <?php echo $f->getNameFirstLast(); ?>"><?=$this->icon('delete') ?></a>
                    <?php endif; ?>
                    <?php if (trim($f->secondary_uin)!= '') echo '<br/>&nbsp;&nbsp;uin: '.$f->secondary_uin.''; ?>
                    <?php if ($f->birth_date > 0) echo '<br/>&nbsp&nbsp;birth date: '.$this->dateOrDefault($f->birth_date); ?>
                </dd>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php if ($edit || $profile): ?>
                <dd><?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editfamilyinfo', 'id' => $resident->id, 'fid' => 0)),
                            'icon'  => 'add',
                            'text'  => 'Add family members',
                            'class' => 'fancybox fancybox.ajax',
                        ))?></dd>
                <?php endif; ?>
                
            </dl>
            <?php if (!$profile): ?>
            <dl id="school_info">
                <dt>School Info
                <?php if ($edit): ?>
                 <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editschoolinfo', 'id' => $resident->id)),
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_school_info',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
                <?php endif; ?>
                </dt>
                <dd>Classification: <?php echo $resident->classification; ?></dd>
                <dd>College: <?php echo $resident->College->name; ?></dd>
                <dd>Major: <?php echo $resident->Major->name; ?></dd>
            </dl>
            <?php endif; ?>
        </div>
    </div>

    <div class="<?php echo $grid; ?>">
        <div class="floating">
            <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'phone_sound',
                'style'		=> 'float: right',
            )) ?>
            <h2>Contact Info</h2>
            <dl id="contact_info">
                <dt>Phone/Email
                <?php if ($edit || $profile): ?>
                <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editcontactinfo', 'id' => $resident->id)),
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_contact_info',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
                <?php endif; ?></dt>
                <dd>Primary phone: <?php echo $resident->primary_phone; ?></dd>
                <dd>Secondary phone: <?php echo $resident->secondary_phone; ?></dd>
                <dd>VOIP phone: <?php echo $resident->voip_phone; ?></dd>
                <dd>Email: <?=$this->mailto($resident->email); ?></dd>
                <dd>Preferred email: <?=$this->mailto($resident->preferred_email) ?></dd>
                <dt>Mailing Address
                <?php if ($edit || $profile): ?>
                    <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editaddress', 'id' => $resident->id, 'type' => 'mailing')),
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_mailing_address',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
            <?php endif; ?>
            </dt>
            <dd>
                <?php
                $mailing_address = array_filter($resident->getAddress('mailing'), 'trim');
                if (!empty($mailing_address))
                {
                    echo implode('<br/>', $mailing_address);
                }
                ?>
            </dd>
            <dt>Permanent Address
            <?php if ($edit || $profile): ?>
             <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editaddress', 'id' => $resident->id, 'type' => 'permanent')),
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_permanent_address',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
            <?php endif; ?>
            </dt>
            <dd>
                <?php
                $permanent_address = array_filter($resident->getAddress('permanent'), 'trim');
                if (!empty($permanent_address))
                {
                    echo implode('<br/>', $permanent_address);
                }
                ?>
            </dd>
            <dt>Forwarding Address
                <?php if ($edit || $profile): ?>
                    <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editaddress', 'id' => $resident->id, 'type' => 'forwarding')),
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_forwarding_address',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
                <?php endif; ?>
            </dt>
            <dd>
                <?php
                $forwarding_address = array_filter($resident->getAddress('forwarding'), 'trim');
                if (!empty($forwarding_address))
                {
                    echo implode('<br/>', $forwarding_address);
                }
                ?>
            </dd>
            </dl>
        </div>
    </div>
    
    <div class="<?php echo $grid; ?>">
        <div class="floating">
        <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'domain_template',
                'style'		=> 'float: right',
            )) ?>
            <h2>Other Info</h2>
            <dl id="other_info">
                <dt>Demographic Info
                        <?php if ($edit || $profile): ?>
                            <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editdemographicinfo', 'id' => $resident->id)),
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_demographic_info',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
                        <?php endif; ?>
                </dt>
                <dd>Country of origin: <?php echo $resident->BirthCountry->name; ?></dd>
                <dd>Gender: <?php echo $resident->gender; ?></dd>
                <dd>Marital status: <?php echo $resident->marital_status; ?></dd>
                <dd>Number of children: <?php echo $resident->number_of_children; ?></dd>
                <?php if (!$profile): ?>
                <dd>Marriage certificate: <?php if ($resident->marriage_certificate > 0) echo date('m/d/Y', $resident->marriage_certificate); ?></dd>
                <dd>Birth certificate: <?php if ($resident->birth_certificate > 0) echo date('m/d/Y', $resident->birth_certificate); ?></dd>
                <dd>International Student: <?php echo (($resident->international_student > 0) ? 'yes' : 'no') ?></dd>
                <?php endif; ?>
            </dl>
            <?php if (!$profile): ?>
            <dl id="medical_info">
                <dt>Medical Info
                <?php if ($edit): ?>
                    <?= $this->button(array(
                            'type'  => 'small',
                            'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editmedicalinfo', 'id' => $resident->id)),
                            'icon'  => 'pencil',
                            'text'  => 'Edit',
                            'id'    => 'edit_medical_info',
                            'class' => 'fancybox fancybox.ajax',
                        ))?>
                <?php endif; ?>
                </dt>
                
                <dt>Meningitis Vaccination:</dt>
                <dd><?=$resident->meningitis_vaccination ?></dd>
                
                <dt>Meningitis Vaccination Proof:</dt>
            <? if ($resident->meningitis_vacc_proof != 0): ?>
                <dd><?=date('m/d/Y', $resident->meningitis_vacc_proof) ?></dd>
            <? else: ?>
                <dd>N/A</dd>
            <? endif; ?>
                
                <dt>Meningitis Vaccination Action:</dt>
            <? if ($resident->meningitis_vacc_action != 0): ?>
                <dd><?=date('m/d/Y', $resident->meningitis_vacc_action) ?></dd>
            <? else: ?>
                <dd>N/A</dd>
            <? endif; ?>
            </dl>
            <?php endif; ?>
        </div>
    </div>
    <?php if (!$profile): ?>
    <div class="<?php echo $grid; ?>">
        <div class="floating">
            <?php if ($edit): ?>
                <?= $this->button(array(
                        'type'  => 'small',
                        'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editnotes', 'id' => $resident->id)),
                        'icon'  => 'pencil',
                        'text'  => 'Edit',
                        'id'    => 'edit_notes',
                        'style' => 'float:right;',
                        'class' => 'fancybox fancybox.ajax',
                    ))?>
            <?php endif; ?>
            <h2>Notes:</h2>
            <p><?php echo nl2br($resident->notes); ?></p>
        </div>
    </div>
    <?php endif; ?>

</div>
<div class="row">

    <div class="<?php echo $grid; ?>">
        <div class="floating">
            <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'autos',
                'style'		=> 'float: right',
            )) ?>
            <h2>Registered Vehicles</h2>

            <? if (count($resident->vehicles) > 0): ?>
            <dl>
            <? foreach($resident->vehicles as $vehicle): ?>
                <dt><?php echo $vehicle->make.' '.$vehicle->model; ?></dt>
                <dd>Color: <?php echo $vehicle->color; ?></dd>
                <dd>License: <?php echo $vehicle->registration_state; ?> <?php echo $vehicle->license_plate; ?></dd>
                <dd>Permit: <?php echo $vehicle->permit; ?></dd>
                <? if ($edit || $profile): ?>
                <dd>
                    <?=$this->button(array(
                        'type'  => 'small',
                        'href'  => $this->route(array(
                            'module' => 'management',
                            'controller' => 'residents',
                            'action' => 'editvehicle',
                            'id' => $resident->id,
                            'vid' => $vehicle->id)
                        ),
                        'icon'  => 'pencil',
                        'text'  => 'Edit',
                        'class' => 'fancybox fancybox.ajax',
                    ))?>
                    <?=$this->button(array(
                        'type'  => 'small',
                        'href'  => $this->route(array(
                            'module' => 'management',
                            'controller' => 'residents',
                            'action' => 'deletevehicle',
                            'id' => $resident->id,
                            'vid' => $vehicle->id,
                            'csrf' => $csrf)
                        ),
                        'icon'  => 'delete',
                        'text'  => 'Delete',
                        'class' => 'ui-delete confirm-delete'
                    ))?>
                </dd>
                <? endif; ?>
            <? endforeach; ?>
            <? endif; ?>
            
            <? if ($edit || $profile): ?>
                <dd><?=$this->button(array(
                    'type'  => 'small',
                    'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editvehicle', 'id' => $resident->id, 'vid' => 0)),
                    'class' => 'fancybox fancybox.ajax',
                    'icon'  => 'add',
                    'text'  => 'Add Vehicle',
                    'id'    => 'add_vehicle',
                ))?></dd>
            <? endif; ?>
            </dl>
        </div>
    </div>
    
    <?php if (!$profile): ?>
    <div class="<?=$grid ?>">
        <div class="floating">
            <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'time',
                'style'		=> 'float: right',
            )) ?>
            <h2>History</h2>
            <dl>
                <dt><a href="<?php echo \DF\Url::route(array('module'=>'management','controller'=>'residents','action'=>'assets','id'=>$resident->id)); ?>">Asset History</a></dt>
                <dd>View assets held by resident</dd>
                <dt><a href="<?php echo \DF\Url::route(array('module'=>'management','controller'=>'residents','action'=>'applications','id'=>$resident->id)); ?>">Applications</a></dt>
                <dd>View applications submitted by resident</dd>
            </dl>
        </div>
    </div>
    <? endif; ?>
    
    <div class="<?php echo $grid; ?>">
        <div class="floating">
            <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'alarm_bell',
                'style'		=> 'float: right',
            )) ?>
            <h2>Emergency Contacts</h2>
            
            <h3>Contact 1</h3>
            <dl id="emergency_contact_info">
                <dt>Relationship: <?php echo ucwords($resident->emergency_relationship); ?>
            <?php if ($edit || $profile): ?>
                <?= $this->button(array(
                    'type'  => 'small',
                    'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editaddress', 'id' => $resident->id, 'type' => 'emergency')),
                    'icon'  => 'pencil',
                    'text'  => 'Edit',
                    'id'    => 'edit_emergency1',
                    'class' => 'fancybox fancybox.ajax',
                ))?>
                <?php endif; ?>
                </dt>
                <dd>Name: <?php echo implode(' ', array($resident->emergency_firstname, $resident->emergency_middlename, $resident->emergency_lastname)); ?></dd>
                <dd>Address:<br/>
            <?php
                $emergency_address = array_filter($resident->getAddress('emergency'), 'trim');
                if (!empty($emergency_address))
                {
                    echo implode('<br/>', $emergency_address);
                }
                ?>
            </dd>
                <dd>Phone: <?php echo $resident->emergency_phone; ?></dd>
                <dd>Missing Person Contact: <?php echo ($resident->emergency_missing_person == '1' ? 'yes' : 'no'); ?></dd>
            </dl>
            
            <h3>Contact 2</h3>
            <dl id="emergency2_contact_info">
                <dt>Relationship: <?php echo ucwords($resident->emergency2_relationship); ?>
            <?php if ($edit || $profile): ?>
                <?= $this->button(array(
                    'type'  => 'small',
                    'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editaddress', 'id' => $resident->id, 'type' => 'emergency2')),
                    'icon'  => 'pencil',
                    'text'  => 'Edit',
                    'class' => 'fancybox fancybox.ajax',
                    'id'    => 'edit_emergency2',
                ))?>
                <?php endif; ?></dt>
                <dd>Name: <?php echo implode(' ', array($resident->emergency2_firstname, $resident->emergency2_middlename, $resident->emergency2_lastname)); ?></dd>
                <dd>Address:<br/>
            <?php
                $emergency2_address = array_filter($resident->getAddress('emergency2'), 'trim');
                if (!empty($emergency2_address))
                {
                    echo implode('<br/>', $emergency2_address);
                }
                ?>
            </dd>
                <dd>Phone: <?php echo $resident->emergency2_phone; ?></dd>
                <dd>Missing Person Contact: <?php echo ($resident->emergency2_missing_person == '1' ? 'yes' : 'no'); ?></dd>
            </dl>
        </div>
    </div>
    <?php if (!$profile): ?>
    <div class="<?php echo $grid; ?>">
        <div class="floating">
            <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'money',
                'style'		=> 'float: right',
            )) ?>
            <h2>Finances</h2>
            
            <dl>
                <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'ledger', 'action' => 'index', 'id' => $resident->id)) ?>">View Ledger</a></dt>
                <dd>View the financial transaction history for this resident.</dd>
                
                <dt>Block/Unblock Account</dt>
                <dd>Flag this resident for Compass block.</dd>
                
            <?php if ($resident->block_account > 0): ?>
                <dd><?=$this->icon(array(
                    'type'		=> 'png',
                    'image'		=> 'lock',
                )) ?> Account is BLOCKED.</dd>
                
                <?php if ($edit): ?>
                <dd><?= $this->button(array(
                    'type'  => 'small',
                    'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'blockaccount', 'id' => $resident->id, 'csrf' => $csrf)),
                    'icon'  => 'flag',
                    'text'  => 'Unblock Account',
                    'title' => 'Unblock Account',
                    'class' => 'confirm-action',
                ))?></dd>
                <?php endif; ?>
            <?php else: ?>
                <dd><?=$this->icon(array(
                    'type'		=> 'png',
                    'image'		=> 'lock_open',
                )) ?> Account is NOT BLOCKED.</dd>
                
                <?php if ($edit): ?>
                <dd><?= $this->button(array(
                    'type'  => 'small',
                    'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'blockaccount', 'id' => $resident->id, 'csrf' => $csrf)),
                    'icon'  => 'cross',
                    'text'  => 'Block Account',
                    'title' => 'Block Account',
                    'class' => 'confirm-action',
                ))?></dd>
                <?php endif; ?>
            <?php endif; ?> 
            </dl>
        </div>
    </div>
    <?php endif; ?>
</div>