<?
$this->headTitle('Manage Electric Meter Readings');
?>

<h2><?=$this->group_name ?></h2>

<form action="" method="get">
<h3>Create a New Posting</h3>

<dl>
    <dt>Reading Date:</dt>
    <dd><input type="text" class="datepicker" name="timestamp_raw" value="<?=date('m/d/Y') ?>" /></dd>
    <dd class="info">Enter the date that the reading was collected.</dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'add',
        'text'      => 'Create New Posting',
    )) ?>
</div>
</form>

<h3>Edit Existing Postings</h3>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="10%">
        <col width="90%">
    </colgroup>
    <tbody>
    <? foreach($this->existing_batches as $batch_timestamp => $batch_name): ?>
        <tr class="input">
            <td align="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'text'      => 'Edit',
                    'href'      => $this->routeFromHere(array('timestamp' => $batch_timestamp)),
                )) ?>
            </td>
            <td align="left"><?=$batch_name ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>