<?
$this->headTitle('Enter Special Meter Readings');
?>

<p>Use this page to enter meter readings for apartments that aren't part of the regular meter reading, such as move-in or move-out readings.</p>

<h2>Select an Apartment</h2>

<dl>
<? foreach($this->assets as $group_name => $assets): ?>
	<dt><?=$group_name ?></dt>
	<dd>
	<? foreach((array)$assets as $asset_id => $asset_name): ?>
		<div><a href="<?=$this->routeFromHere(array('asset_id' => $asset_id)) ?>"><?=$asset_name ?></a></div>
	<? endforeach; ?>
	</dd>
<? endforeach; ?>
</dl>