<?php
$this->headTitle('Manage Leases');
?>

<h2>Select Lease Type</h2>

<dl>
<? foreach($this->lease_types as $type_id => $type_name): ?>
	<dt><a href="<?=$this->routeFromHere(array('action' => 'update', 'type' => $type_id)) ?>"><?=$type_name ?></a></dt>
<? endforeach; ?>
</dl>