<?
$this->headTitle('Outstanding Charges By Resident');
?>

<h2>By Asset/Occupancy</h2>

<table class="datatable zebra" width="100%">
	<colgroup>
        <col width="25%" />
        <col width="20%" />
    	<col width="55%" />
    </colgroup>
    <tbody>
    <? foreach($this->assets as $asset_id => $asset_info): ?>
        <? if (count($asset_info['occupancies']) > 0): ?>
            <? foreach((array)$asset_info['occupancies'] as $occupancy): ?>
            <tr class="input">
                <td align="right">
                <? if ($occupancy['balance'] >= 0): ?>
                    <span style="color: #009900">$<? echo number_format($occupancy['balance'], 2) ?></span>
                <? else: ?>
                    <span style="color: #990000">$<? echo number_format($occupancy['balance'], 2) ?></span>
                <? endif; ?>
                </td>
                <td align="left"><?=$asset_info['name'] ?></td>
                <td align="left"><?=$occupancy['Resident']['first_name'] ?> <?=$occupancy['Resident']['surname'] ?></td>
            </tr>
            <? endforeach; ?>
        <? endif; ?>
    <? endforeach; ?>
    </tbody>
</table>

<br>
<h2>By Account</h2>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="25%" />
        <col width="75%" />
    </colgroup>
    <tbody>
    <? foreach($this->totals_by_acct as $acct_id => $acct_info): ?>
        <tr class="input">
            <td align="right">
            <? if ($acct_info['total'] >= 0): ?>
                <span style="color: #009900">$<? echo number_format($acct_info['total'], 2) ?></span>
            <? else: ?>
                <span style="color: #990000">$<? echo number_format($acct_info['total'], 2) ?></span>
            <? endif; ?>
            </td>
            <td align="left"><?=$acct_info['name'] ?></td>
        </tr>
    <? endforeach; ?>
        <tr class="blue input">
            <td align="right">
            <? if ($this->total >= 0): ?>
                <span style="color: #009900">$<? echo number_format($this->total, 2) ?></span>
            <? else: ?>
                <span style="color: #990000">$<? echo number_format($this->total, 2) ?></span>
            <? endif; ?>
            </td>
            <td align="left"><b>Total</b></td>
        </tr>
    </tbody>
</table>