<?php
$this->headTitle('Electric Billing Preliminary Report');
?>

<? if (!$this->report): ?>
    <h2>No Charges Pending</h2>

    <p>There are no current electric meter readings that have not been billed to the resident(s).</p>
<? else: ?>
    <? foreach($this->report as $location => $records): ?>
    <fieldset style="page-break-before: always;">
        <legend><?=$location ?></legend>
        
        <table class="datatable zebra tablesorter" width="100%">
            <colgroup>
                <col width="30%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="10%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Apartment Name</th>
                    <th align="center">Service<br>Start</th>
                    <th align="center">Service<br>End</th>
                    <th align="center">Start<br>Reading</th>
                    <th align="center">End<br>Reading</th>
                    <th align="right">Total</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($records as $asset): ?>
                <tr>
                    <td align="left"><?=$asset['asset_name'] ?></td>
                    <td align="center"><?=date('m/d/Y', $asset['service_start']) ?></td>
                    <td align="center"><?=date('m/d/Y', $asset['service_end']) ?></td>
                    <td align="center"><?=(int)$asset['usage_start'] ?></td>
                    <td align="center"><?=(int)$asset['usage_end'] ?></td>
                    <td align="right"><b><?=$asset['cost'] ?></b></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </fieldset>
    <? endforeach; ?>
<? endif; ?>

<fieldset style="page-break-before: always;">
    <legend>Billing Errors</legend>

    <table class="datatable zebra" width="100%">
        <colgroup>
            <col width="30%" />
            <col width="15%" />
            <col width="15%" />
            <col width="40%" />
        </colgroup>
        <thead>
            <tr>
                <th>Apartment Name</th>
                <th>Service&nbsp;Start</th>
                <th>Service&nbsp;End</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($this->unbilled as $asset): ?>
            <tr>
                <td align="left"><?=$asset['asset_name'] ?></td>
                <td align="center">
                    <?=date('m/d/Y', $asset['service_start']) ?><br>
                    <?=(int)$asset['usage_start'] ?>
                </td>
                <td align="center">
                    <?=date('m/d/Y', $asset['service_end']) ?><br>
                    <?=(int)$asset['usage_end'] ?>
                </td>
                <td align="left"><?=$asset['message'] ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
</fieldset>