<?
$start_date_text = date('m/d/Y', $this->start_date);
$end_date_text = date('m/d/Y', $this->end_date);

$register_name = ($this->register) ? $this->register->name : 'All Registers';
$this->headTitle('Reconciliation Report: '.$register_name.' - '.$start_date_text.' - '.$end_date_text);
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'asterisk_yellow',
        'text'      => 'Generate New Report',
        'href'      => \DF\Url::current(),
    )) ?>
</div>

<div id="tabs_area">
    <ul class="autotab autoselect">
    <? if ($this->register_reports): ?>
        <li><a href="#register_reports">Register Reports</a></li>
    <? endif; ?>
        <li><a href="#totals_by_location">Totals by Location</a></li>
        <li><a href="#totals_by_account">Totals by Account</a></li>
    </ul>

<? if ($this->register_reports): ?>
    <div id="register_reports">
        <h2>Register Reports</h2>
    
        <table class="datatable zebra" width="100%">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="25%" />
                <col width="35%" />
            </colgroup>
            <thead>
                <th>Cash</th>
                <th>Checks</th>
                <th>Other</th>
                <th>Total</th>
                <th>Date/Time</th>
                <th>Notes</th>
            </thead>
            <tbody>
            <? foreach($this->register_reports as $report): ?>
                <tr>
                    <td align="center">$<? echo number_format($report['amount_cash'], 2); ?></td>
                    <td align="center">$<? echo number_format($report['amount_check'], 2); ?></td>
                    <td align="center">N/A</td>
                    <td align="center">$<? echo number_format($report['amount_check']+$report['amount_cash'], 2); ?></td>
                    <td align="center"><? echo date('F j, Y g:ia', $report['timestamp']); ?></td>
                    <td align="left"><?=$report['notes'] ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
<? endif; ?>

    <div id="totals_by_location">
        <h2>Totals by Asset Location</h2>

        <table class="datatable" width="100%">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="60%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Cash</th>
                    <th>Checks</th>
                    <th>Other</th>
                    <th>Total</th>
                    <th>Account Type</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($this->report as $support_account): ?>
                <tr>
                    <th colspan="5"><?=$support_account['name'] ?></th>
                </tr>
                <? $this->zebra('reset') ?>
                <? foreach($support_account['totals'] as $account_info): ?>
                <tr class="<?=$this->zebra() ?>">
                    <td align="center">$<? echo number_format($account_info['totals']['cash'], 2); ?></td>
                    <td align="center">$<? echo number_format($account_info['totals']['check'], 2); ?></td>
                    <td align="center">$<? echo number_format($account_info['totals']['other'], 2); ?></td>
                    <td align="center">$<? echo number_format($account_info['totals']['all'], 2); ?></td>
                    <td align="left"><?=$account_info['name'] ?></td>
                </tr>
                <? endforeach; ?>
            <? endforeach; ?>
                <tr>
                    <th colspan="5">Total</th>
                </tr>
                <tr class="blue">
                    <td align="center">$<? echo number_format($this->overall_totals['cash'], 2); ?></td>
                    <td align="center">$<? echo number_format($this->overall_totals['check'], 2); ?></td>
                    <td align="center">$<? echo number_format($this->overall_totals['other'], 2); ?></td>
                    <td align="center">$<? echo number_format($this->overall_totals['all'], 2); ?></td>
                    <td align="left"><b>Total</b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="totals_by_account">
        <h2>Totals by Account</h2>

        <table class="datatable zebra" width="100%">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="60%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Cash</th>
                    <th>Checks</th>
                    <th>Other</th>
                    <th>Total</th>
                    <th>Account Type</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($this->totals_by_acct as $account_info): ?>
                <tr>
                    <td align="center">$<? echo number_format($account_info['totals']['cash'], 2); ?></td>
                    <td align="center">$<? echo number_format($account_info['totals']['check'], 2); ?></td>
                    <td align="center">$<? echo number_format($account_info['totals']['other'], 2); ?></td>
                    <td align="center">$<? echo number_format($account_info['totals']['all'], 2); ?></td>
                    <td align="left"><?=$account_info['name'] ?></td>
                </tr>
            <? endforeach; ?>
                <tr class="blue">
                    <td align="center">$<? echo number_format($this->overall_totals['cash'], 2); ?></td>
                    <td align="center">$<? echo number_format($this->overall_totals['check'], 2); ?></td>
                    <td align="center">$<? echo number_format($this->overall_totals['other'], 2); ?></td>
                    <td align="center">$<? echo number_format($this->overall_totals['all'], 2); ?></td>
                    <td align="left"><b>Total</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(function() {
    $("#tabs_area").tabs();
});
</script>