<?
$start_date_text = date('m/d/Y', $this->start_date);
$end_date_text = date('m/d/Y', $this->end_date);

$this->headTitle('Vacant Apartment Cost Report: '.$start_date_text.' - '.$end_date_text);
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'asterisk_yellow',
        'text'      => 'Generate New Report',
        'href'      => \DF\Url::current(),
    )) ?>
</div>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="60%" />
    </colgroup>
    <thead>
        <tr>
            <th>Cost</th>
            <th>Days Vacant</th>
            <th>Apartment</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->vacancies['vacancies'] as $info): ?>
        <tr>
            <td align="right">$<?=number_format($info['cost'], 2); ?></td>
            <td align="center"><?=$info['days'] ?></td>
            <td align="left"><?=$info['asset']['name'] ?></td>
        </tr>
    <? endforeach; ?>
        <tr class="blue">
            <td align="right">$<?=number_format($this->vacancies['totals']['cost'], 2) ?></td>
            <td align="center">$<?=number_format($this->vacancies['totals']['days'], 2) ?> / day</td>
            <td align="left"><b>Total</b> (<?=count($this->vacancies['vacancies']) ?> Vacant Apartments)</td>
        </tr>
    </tbody>
</table>