<?
$this->headTitle('Welcome!');
$this->layout()->manual = TRUE;
?>

<div class="span4">
    <div class="floating">
        <?=$this->icon(array(
            'type'      => 'png32',
            'image'     => 'application_form',
            'style'     => 'float: right',
        )) ?>
        <h2>My Application</h2>
        
        <? if ($this->applications): ?>
            <table class="datatable zebra" width="100%">
                <thead>
                    <tr>
                        <th>Submitted on</th>
                        <th>Application Status</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($this->applications as $app): ?>
                    <tr>
                        <td align="center"><?=date('m/d/Y',$app->application_date) ?></td>
                        <td align="center"><?=$app->status_name ?>
                        <?php
                        $offer = \Entity\Offer::fetchByApplicationId($app->id);
                        if (($offer) && (trim($offer->accepted_date) == ''))
                        {
                            echo $this->button(array(
                                'type'      => 'small',
                                'text'      => 'View Offer',
                                'href'      => $this->route(array('module' => 'apply', 'controller' => 'offers', 'action' => 'view', 'id' => $offer->id)),
                            ));
                        }
                        else if (($app->application_status_id == 3) && ($this->orientation_date == 0))
                        {
                            echo $this->button(array(
                                'type'      => 'small',
                                'text'      => 'Orientation',
                                'href'      => $this->route(array('module' => 'quiz', 'controller' => 'index')),
                            ));
                        }
                        ?>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
        </table>
        <? else: ?>
            <p>You have not submitted an application yet! See the panel to the right for more information about creating a new application.</p>
            
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'asterisk_yellow',
                    'text'      => 'Submit New Application',
                    'href'      => $this->route(array('module' => 'apply')),
                )) ?>
            </div>
        <? endif; ?>
    </div>
</div>

<div class="span4">
    <div class="floating">
        <?=$this->icon(array(
            'type'      => 'png32',
            'image'     => 'money',
            'style'     => 'float: right',
        )) ?>
        <h2>Application Fees</h2>
        
        <div class="clear">&nbsp;</div>
        <table class="datatable" width="100%">
            <colgroup>
                <col width="30%" />
                <col width="70%" />
            </colgroup>
            <tr class="odd">
                <td align="center"><big>
					<? if ($this->balance < 0): ?>
                    	<span style="color: #990000">$<? echo number_format($this->balance, 2); ?></span>
                    <? else: ?>
						<span style="color: #009900">$<? echo number_format(abs($this->balance), 2); ?></span>
					<? endif; ?>
				</big></td>
                <td align="left">Current Balance</td>
            </tr>
        </table>
        
        <dl>
            <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'resident', 'action' => 'pay')) ?>">Pay Online</a></dt>
            <dd>Use an e-check to pay your current balance online.</dd>
        </dl>
    </div>
</div>

<div class="span4">
    <div class="floating">
        <?=$this->icon(array(
            'type'      => 'png32',
            'image'     => 'information',
            'style'     => 'float: right',
        )) ?>
        <h2>Information &amp; Resources</h2>
        
        <dl>
            <dt><a href="http://reslife.tamu.edu/ua/">University Apartments Homepage</a></dt>
            <dd>Learn more about the University Apartments by visiting their official homepage.</dd>
            
        </dl>
    </div>
</div>