<?
$this->headTitle('Welcome!');
$this->layout()->manual = TRUE;

$this->headScript()->appendFile(\DF\Url::content('jquery/addons/jquery.combobox.js'));

$acl = \DF\Acl::getInstance();
?>

<? $announcement = \Entity\Block::render('announcements'); ?>
<? if (!empty($announcement)): ?>
<div class="row">
    <div class="span12">
        <div class="floating">
            <h2>Announcements</h2>
            <?=$announcement ?>
        </div>
    </div>
</div>
<? endif; ?>

<div class="row">
    <div class="span4">
        <? if ($acl->isAllowed(array('view apartments', 'manage apartments'))): ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'house',
                'style'     => 'float: right',
            )) ?>
            <h2>Manage Apartments</h2>
            
            <form action="<?=$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'view')) ?>" method="get">
            <dl>
                <dt>View by Name:</dt>
    			<dd><input type="text" name="name" id="fld-asset-name" class="full-width" /></dd>
                <dd>
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'find',
                    'text'      => 'View Property',
                    'class'     => 'small',
                )) ?>
                </dd>
            </dl>
            </form>
    		
    		<script type="text/javascript">
    		$(function() {
    			$("#fld-asset-name").autocomplete({
    				source: '<?=$this->routeFromHere(array('action' => 'search')) ?>',
    				minLength: 2,
    				select: function( event, ui ) {
    					$(this).val(ui.item.value);
    					$(this).closest('form').submit();
    				}
    			});
    		});
    		</script>
    		
    		<dl>
    			<dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'index')) ?>">Manage Apartments</a></dt>
    			<dd>View all apartments by category and manage property details.</dd>
    		</dl>
                    <?php if ($acl->isAllowed(array('manage quizzes'))): ?>
                    <dl>
    			<dt><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'quizzes', 'action' => 'index')) ?>">Manage Quizzes</a></dt>
    			<dd>View and edit orientation quiz questions and answers.</dd>
    		</dl>
                    <?php endif; ?>
                    <dl>
    			<dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'reports', 'action' => 'occupancy')) ?>">View Occupancy Report</a></dt>
    			<dd>View occupied/vacant totals by apartment type.</dd>
    		</dl>

                    <dl>
    			<dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'vacant')) ?>">View Vacant Apartments</a></dt>
    			<dd>View vacant apartments list.</dd>
    		</dl>

            <h3>Gardens Phase II</h3>
            <dl>
                <dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'moveincalendar')) ?>" title="move-in calendar">Move-in Appointment Calendar</a></dt>
                <dd>Manage move-in appointments for Gardens Phase II</dd>
            </dl>
        </div>
        <? endif; ?>
        
        <? if ($acl->isAllowed(array('view ledgers', 'create credits', 'create debits'))): ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'money',
                'style'     => 'float: right',
            )) ?>
            <h2>Finances</h2>
            
            <dl>
            <? if ($acl->isAllowed('create credits')): ?>
    			<dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'register', 'action' => 'index')) ?>">Submit Register Log</a></dt>
    			<dd>Log the starting or ending balance of a cash register.</dd>
                
                <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'ledger', 'action' => 'post', 'credit_or_debit' => 'C')) ?>">Post Credit to Account</a></dt>
                <dd>Add a credit to a resident's ledger or process a cash payment.</dd>
            <? endif; ?>
            
            <? if ($acl->isAllowed('create debits')): ?>
                <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'ledger', 'action' => 'post', 'credit_or_debit' => 'D')) ?>">Post Debit to Account</a></dt>
                <dd>Add a debit to a resident's ledger.</dd>
                
                <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'transaction', 'action' => 'rollback')) ?>">Reverse Online Payment (NSF)</a></dt>
                <dd>Undo the credit posted to a user's account by a TouchNet transaction that was cancelled or rejected.</dd>
            <? endif; ?>
            
            <? if ($acl->isAllowed('administer all')): ?>
                <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'transaction', 'action' => 'index')) ?>">Manage Transactions</a></dt>
    			<dd>Manage transaction data and create, update, or delete items.</dd>
            <? endif; ?>
            
            <? if ($acl->isAllowed('view ledgers')): ?>
    			<dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'reports', 'action' => 'index')) ?>">Finance Reports</a></dt>
    			<dd>Generate reports for transactions.</dd>

                            <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'resident', 'action' => 'blocked')) ?>">View Blocked Residents</a></dt>
    			<dd>List blocked residents for specific date ranges.</dd>
            <? endif; ?>
            </dl>
        </div>
        <? endif; ?>
    </div>
    <div class="span4">
        <? if ($acl->isAllowed(array('view residents','manage residents','assign move-out dates'))): ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'group',
                'style'     => 'float: right',
            )) ?>
            <h2>Current Residents</h2>
            
            <form action="<?=$this->route(array('module' => 'management', 'controller' => 'residents')) ?>" method="get">
            <dl>
                <dt>Resident Name or UIN:</dt>
                <dd><input type="text" name="searchterms" class="full-width" /></dd>
                <dd>
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'find',
                    'text'      => 'Find Resident',
                    'class'     => 'small',
                )) ?>
                </dd>
            </dl>
            </form>
    		
    		<dl>
    			<dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'index')) ?>">Manage Residents</a></dt>
    			<dd>View all residents and associated applications or apartments.</dd>
    		</dl>
        </div>
        <? endif; ?>

        <? if ($acl->isAllowed(array('manage applications','view applications'))): ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'application_form',
                'style'     => 'float: right',
            )) ?>
            <h2>Manage Applicants</h2>
            
            <dl>
                <dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'index')) ?>">View Applications</a></dt>
                <dd>View all applications that have been submitted to the system.</dd>
            </dl>
        </div>
        <? endif; ?>

        <? if ($acl->isAllowed(array('assign move-out dates', 'view moveouts'))): ?>
        <div class="floating">
            <h2>Move-out Requests</h2>
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="25%" />
                    <col width="75%" />
                </colgroup>
                <tbody>
                    <tr>
                        <td align="center"><big><?=$this->move_out_total ?></big></td>
                        <td align="left"><a href="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'moveout')) ?>">Move-out Requests</a></td>
                    </tr>
                    <tr>
                        <td align="center"><big><?=$this->move_outs_today ?></big></td>
                        <td align="left"><a href="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'moveout', 'start' => strtotime('today'), 'end' => strtotime('tomorrow'))) ?>">Move-outs Today</a></td>
                    </tr>
                </tbody>
            </table>

            <form action="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'moveout')) ?>" method="get">
            <dl>
                <dt>Resident Name or UIN:</dt>
                <dd><input type="text" name="searchterms" class="full-width" /></dd>
                <dd>
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'find',
                    'text'      => 'Find Move-out Request',
                    'class'     => 'small',
                )) ?>
                </dd>
            </dl>
            </form>
            
            <dl>
                <dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'moveout')) ?>">Manage Move-outs</a></dt>
                <dd>View all upcoming move-outs.</dd>
                <dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'walkthrough')) ?>">View walk-through appointments</a></dt>
                <dd>Manage upcoming walk-through appointments.</dd>
            </dl>
        </div>
        <? endif; ?>
    </div>
    <div class="span4">
        <? if ($acl->isAllowed(array('create work orders', 'manage work orders', 'manage electric meter readings'))): ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'toolbox',
                'style'     => 'float: right',
            )) ?>
            <h2>Maintenance Requests</h2>
            
            <? if ($acl->isAllowed('manage work orders')): ?>
            <div class="clear">&nbsp;</div>
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="25%" />
                    <col width="75%" />
                </colgroup>
    			<tbody>
    				<tr>
    					<td align="center"><big><?=$this->maintenance_requests ?></big></td>
    					<td align="left"><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'manage', 'action' => 'requests', 'status' => \Entity\MaintenanceWorkorder::STATUS_UNPROCESSED)) ?>">Customer Requests</a></td>
    				</tr>
    				<tr>
    					<td align="center"><big><?=$this->maintenance_active ?></big></td>
    					<td align="left"><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'manage', 'action' => 'requests', 'status' => 'active')) ?>">Active Work Orders</a></td>
                    </tr>
    			</tbody>
            </table>
            <? endif; ?>
            
            <dl>
            <? if ($acl->isAllowed('manage work orders')): ?>
                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'manage', 'action' => 'index')) ?>">Manage Maintenance</a></dt>
                <dd>View all currently active and archived work orders, and conduct other administrative functions.</dd>
            <? endif; ?>
            
            <? if ($acl->isAllowed('manage work orders')): ?>
                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'manage', 'action' => 'edit', 'id' => 0)) ?>">Submit Work Order</a></dt>
                <dd>Manually submit a work order.</dd>
            <? elseif ($acl->isAllowed('create work orders')): ?>
                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'submit')) ?>">Submit Work Order Request</a></dt>
                <dd>Manually submit a work order request.</dd>
            <? endif; ?>
            
            <? if ($acl->isAllowed('manage work orders')): ?>
                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'reports', 'action' => 'index')) ?>">Maintenance Reports</a></dt>
                <dd>View maintenance reports.</dd>
            <? endif; ?>
            
            <? if ($acl->isAllowed('manage electric meter readings')): ?>
    			<dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'electric', 'action' => 'index')) ?>">Enter Monthly Meter Readings</a></dt>
                <dd>Enter the readings obtained from on-site electricity meters.</dd>

                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'electric', 'action' => 'special')) ?>">Enter Special Meter Readings</a></dt>
                <dd>Enter readings collected for move-ins and move-outs.</dd>
                
                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'electric', 'action' => 'history')) ?>">View Electric Consumption History</a></dt>
                <dd>View or download the electric meter rates submitted for each apartment over the last year.</dd>
            <? endif; ?>
            </dl>
        </div>
        <? endif; ?>
        
        <? if ($acl->isAllowed(array('administer all', 'manage users', 'assign roles', 'manage permissions', 'view reports', 'manage reports'))): ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'cog',
                'style'     => 'float: right',
            )) ?>
            <h2>System Administration</h2>
            
            <dl>
            <? if ($acl->isAllowed(array('administer all'))): ?>
    			<dt><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'index')) ?>">System Administration</a></dt>
    			<dd>Access all system administrative functions.</dd>
            <? endif; ?>
                
            <? if ($acl->isAllowed(array('view reports','manage reports'))): ?>
                <dt><a href="<?=$this->route(array('module' => 'management', 'controller' => 'reports', 'action' => 'index')) ?>">Generate Reports</a></dt>
                <dd>View and generate system reports.</dd>
            <? endif; ?>
            </dl>
        </div>
        <? endif; ?>
    </div>
</div>