<?
$this->headTitle('Welcome!');
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span6">
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'group',
                'style'     => 'float: right',
            )) ?>
            <h2>Current Apartments Residents</h2>
            
            <p>To manage your account, pay rent, submit maintenance requests and more, click the button below to log in with your NetID.</p>
            <p><strong style="color:red;">Residence Hall students who will live in Gardens Phase 2 – log in here</strong></p>
            
            <div class="buttons well">
            <?=$this->button(array(
                'type'      => 'link',
                'icon'      => 'key',
                'class'     => 'large primary',
                'text'      => 'Log In with NetID',
                'href'      => $this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')),
            )) ?>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'page_edit',
                'style'     => 'float: right',
            )) ?>
            <h2>Apply for Apartments</h2>
            
            <p>To submit a new application for the University Apartments, click the button below. If you are not already logged in, you will be prompted to log in with your NetID.</p>
            
            <div class="buttons well">
            <?=$this->button(array(
                'type'      => 'link',
                'class'     => 'large primary',
                'icon'      => 'page_edit',
                'text'      => 'Apply Online',
                'href'      => $this->route(array('module' => 'apply')),
            )) ?>
            </div>
        </div>
    </div>
</div>