<?
$this->headTitle('Welcome!');
$this->layout()->manual = TRUE;
?>

<? $announcement = \Entity\Block::render('announcements'); ?>
<? if (!empty($announcement)): ?>
<div class="row">
    <div class="span12">
        <div class="floating">
            <h2>Announcements</h2>
            <?=$announcement ?>
        </div>
    </div>
</div>
<? endif; ?>

<?php $token = \DF\Csrf::getToken(); ?>
<div class="row">
    <div class="span8">
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'house',
                'style'     => 'float: right',
            )) ?>
            <h2>My Apartment</h2>
            
            <? if ($this->occupancies): ?>
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="30%">
                    <col width="70%">
                </colgroup>
                <tbody>
                <? foreach($this->occupancies as $occupancy): ?>
                    <tr>
                        <td align="center">
                            <big><?=$occupancy->asset->name ?></big>
                        <? if ((int)$occupancy->end_date): ?>
                            <br>Ends <?=$this->dateOrDefault($occupancy->end_date) ?>
                        <? endif; ?>
                        </td>
                        <?php if (!$occupancy->isExternal()): ?>
                        <td align="center">
                            <?php
                            if ($occupancy->canRenew())
                            {
                                echo $this->button(array(
                                    'type'      => 'small',
                                    'text'      => 'Renew Lease',
                                    'href'      => $this->route(array('module' => 'apply', 'controller' => 'renew')),
                                ));
                            }
                            else if ($occupancy->isEndingSoon())
                            {
                                $appt = MoveoutAppointment::fetchByOccupancyId($occupancy->id);
                                if (!$appt->id && !$occupancy->skip_walkthrough)
                                {
                                    echo $this->button(array(
                                        'type'  => 'small',
                                        'href'  => $this->route(array('module' => 'default', 'controller' => 'index', 'action' => 'moveoutappointment', 'id' => $occupancy->id)),
                                        'text'  => 'Schedule Check-out Appointment',
                                    ));
                                    echo '<br/>or <a id="btn_skip_walkthrough" class="confirm-action" href="'.\DF\Url::routeFromHere(array('action' => 'skipwalkthrough', 'id' => $occupancy->id, 'csrf' => $token)).'" title="Opt-out of check-out appointment">Skip</a>';
                                }
                                else if (!$occupancy->skip_walkthrough)
                                {
                                    echo '<br/>Walk-through: '.date('g:ia', strtotime($appt->slot));
                                }
                                echo '<br/><a href="'.\DF\Url::routeFromHere(array('action' => 'printmoveout', 'id' => $occupancy->id)).'">Reprint Intent to Vacate form</a>';
                            }
                            else
                            {
                                echo 'Contact the University Apartments office to move out.';
                                /*
                                echo $this->button(array(
                                    'type'  => 'small',
                                    'href'  => $this->route(array('module' => 'default', 'controller' => 'index', 'action' => 'moveout', 'id' => $occupancy->id)),
                                    'text'  => 'Move Out',
                                ));
                                */
                            }
                            ?>
                        </td>
                        <?php else: ?>
                        <td>
                        <?php
                        if ($this->resident->quiz_results->count() >= 1)
                        {
                            echo $this->button(array(
                                            'type'  => 'small',
                                            'href'  => $this->route(array('module' => 'default', 'controller' => 'index', 'action' => 'movein', 'id' => $occupancy->id)),
                                            'text'  => 'Schedule Move-in',
                                        ));
                        }
                        else
                        {
                            echo $this->button(array(
                                'type' => 'small',
                                'href' => $this->route(array('module' => 'quiz', 'controller' => 'index')),
                                'text' => 'Complete Orientation Quiz',
                            ));
                            echo '<a href="http://reslife1.tamu.edu/ua/orientation/" title="Read training online">Review the orientation &amp; safety training materials</a>';
                        }
                        ?>
                        </td>
                        <?php endif; ?>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
            <? endif; ?>

            <? if (($this->offer) && (trim($this->offer->accepted_date) == '')): ?>
                <h2>Pending Offer</h2>
                <p>You have a pending offer for an apartment. To review and accept or decline this offer, click the button below.</p>

                <div class="buttons">
                    <?=$this->button(array(
                        'type'      => 'link',
                        'text'      => 'View Offer',
                        'href'      => $this->route(array('module' => 'apply', 'controller' => 'offers', 'action' => 'view', 'id' => $this->offer->id)),
                    )); ?>
                </div>
            <? endif; ?>

            <dl>
            <?php if (!$this->external): ?>
                <dt><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'profile')) ?>">Edit My Profile</a></dt>
                <dd>Edit your personal contact information and other details.</dd>

                <dt><a href="<?=$this->route(array('module' => 'apply', 'controller' => 'lease')) ?>">View My Lease</a></dt>
                <dd>View an electronic copy of your currently active lease agreement.</dd>
                
                <dt>Orientation</dt>
                <dd><a href="http://reslife1.tamu.edu/ua/orientation/" title="Read training online">Review the orientation &amp; safety training materials</a></dd>
                <dd><a href="<?=$this->route(array('module' => 'quiz', 'controller' => 'index')) ?>">Complete the orientation quiz for your current residence</a></dd>

                <dt><a href="<?=$this->route(array('module' => 'apply', 'controller' => 'roommates')) ?>">Add a Roommate</a></dt>
                <dd>Invite a roommate to share your apartment.</dd>
                <?php if (count($this->roommates)> 0): ?>
                
                <dd>
                <table class="datatable zebra" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">Pending Roommate Requests</th>
                        </tr>
                    </thead>
                    <tbody>
                    <? foreach($this->roommates as $request): ?>
                        <tr>
                            <td align="center"><?=$request->new_roommate_email ?></td>
                            <td>
                                <a class="ui-button small confirm-action" title="Deny this roommate request" href="<?php echo \DF\Url::route(array('module'=>'apply','controller'=>'roommates','action'=>'approval','id'=>$request->id,'approval'=>'false','csrf'=>$token)); ?>">
                                <?=$this->icon(array(
                                    'type'      => 'png',
                                    'image'     => 'delete',
                                )) ?>
                                </a>
                                <a class="ui-button small confirm-action" title="Approve this roommate request" href="<?php echo \DF\Url::route(array('module'=>'apply','controller'=>'roommates','action'=>'approval','id'=>$request->id,'approval'=>'true','csrf'=>$token)); ?>">
                                <?=$this->icon(array(
                                    'type'      => 'png',
                                    'image'     => 'add',
                                )) ?>
                                </a>
                            </td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
                </dd>
                <?php endif; ?>
            <?php endif; ?>
            </dl>
        </div>
    </div>
    <div class="span4">
    <?php if (!$this->external): ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'money',
                'style'     => 'float: right',
            )) ?>
            <h2>My Charges</h2>
            
            <div class="clear">&nbsp;</div>
            <table class="datatable" width="100%">
                <colgroup>
                    <col width="30%" />
                    <col width="70%" />
                </colgroup>
                <tr class="odd">
                    <td align="center"><big>
    					<? if ($this->balance < 0): ?>
                        	<span style="color: #990000">$<? echo number_format($this->balance, 2); ?></span>
                        <? else: ?>
    						<span style="color: #009900">$<? echo number_format(abs($this->balance), 2); ?></span>
    					<? endif; ?>
    				</big></td>
                    <td align="left">Current Balance</td>
                </tr>
            </table>
            
            <dl>
                <?php if (!$this->block_account): ?>
                <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'resident', 'action' => 'pay')) ?>">Pay Charges Online</a></dt>
                <dd>Pay your current balance online.</dd>
                <?php endif; ?>
                <dt><a href="<?=$this->route(array('module' => 'finances', 'controller' => 'resident', 'action' => 'ledger')) ?>">Transaction History</a></dt>
                <dd>View previous changes to your balance.</dd>
            </dl>
        </div>

    <?php else: ?>
        <div class="floating">
            <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'user',
                'style'		=> 'float: right',
            )) ?>
            <h2>My Profile</h2>
            <dl>
                <dd>Name: <?php echo $this->resident->getNameFirstLast(); ?></dd>
                <dd>UIN: <?php echo $this->resident->uin; ?> </dd>
                <dd>Email: <?=$this->mailto($this->resident->email); ?></dd>
                <dd>To update your personal details please visit <a href="http://howdy.tamu.edu" title="Go to Howdy">http://howdy.tamu.edu</a></dd>
            </dl>
        </div>

        <div class="floating">
            <?=$this->icon(array(
                'type'		=> 'png32',
                'image'		=> 'alarm_bell',
                'style'		=> 'float: right',
            )) ?>
            <h2>Emergency Contact Info</h2>
            <dl>
                <dd>To update your emergency contact info please visit <a href="https://reslife1.tamu.edu/how1/how.htm">ResLife Online Services</a>.</dd>
            </dl>
        </div>
    <?php endif; ?>

        <div class="floating">
            <?=$this->icon(array(
                'type'      => 'png32',
                'image'     => 'toolbox',
                'style'     => 'float: right',
            )) ?>
            <h2>Maintenance Requests</h2>
            
            <? if ($this->workorders): ?>
            <table class="datatable" width="100%">
                <tr class="odd input">
                    <td align="left">
                        <b><?=$this->workorders->count() ?></b> pending request(s)<br />
                        
                        <? if ($this->workorders->count() > 0): ?>
                        <ul>
                        <? foreach($this->workorders as $workorder): ?>
                            <li><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'submit', 'action' => 'view', 'id' => $workorder->id)) ?>"><?=$workorder->Category->name ?></a></li>
                        <? endforeach; ?>
                        </ul>
                        <? endif; ?>
                    </td>
                </tr>
            </table>
            <? endif; ?>
            
            <dl>
                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'submit')) ?>">Submit a Maintenance Request</a></dt>
                <dd>Complete this form to submit a maintenance request to the University Apartments staff.</dd>
                
                <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'submit', 'action' => 'history')) ?>">Maintenance Request History</a></dt>
                <dd>View the status of previously submitted maintenance requests.</dd>
            </dl>
        </div>
    </div>
</div>