<?
$this->headTitle('Walk Through Appointment');

$start_time = 900;
$end_time = 2000;
$appointments = $this->appointments[$this->date];
$csrf = \DF\Csrf::getToken();
?>
<h1>Available Times: <?php echo date('m/d/Y', $this->date); ?></h1>
<?php if ($this->is48hrsahead): ?>
<table class="datatable zebra" style="text-align:center;">
    <tr>
        <th width="15%">Time</th>
        <?php $slot = 1; ?>
        <?php while($slot <= $this->limit): ?>
        <th>Appointment <?php echo $slot; ?></th>
        <?php $slot++; ?>
        <?php endwhile; ?>
    </tr>
<?php while($start_time <= $end_time): ?>
    <tr>
        <td><?php echo date('g:ia', strtotime(str_pad($start_time, 4, '0', STR_PAD_LEFT))); ?> &ndash; <?php echo date('g:ia', strtotime(str_pad(($start_time + 100), 4, '0', STR_PAD_LEFT))); ?></td>
        <?php if ($start_time != 1200): ?>
        <?php $slot = 1; ?>
        <?php while($slot <= $this->limit): ?>
        <?php if (!empty($appointments[str_pad($start_time, 4, '0', STR_PAD_LEFT)][$slot-1])): ?>
        <?php unset($appointments[str_pad($start_time, 4, '0', STR_PAD_LEFT)][$slot-1]); ?>
        <td>Not available</td>
        <?php else: ?>
        <td>
            <?php
            echo $this->button(array(
                'type'  => 'small',
                'href'  => $this->route(array('module' => 'default', 'controller' => 'index', 'action' => 'saveappointment', 'occupancy_id' => $this->occupancy->id, 'date' => $this->date, 'slot' => str_pad(($start_time), 4, '0', STR_PAD_LEFT), 'csrf' => $csrf)),
                'text'  => 'Schedule Appointment',
                'title' => 'Schedule a Move Out Walk-through on '.date('m/d/Y', $this->date).' at '.date('g:ia', strtotime($start_time)),
                'id' => 'slot_'.$start_time.'-'.$slot,
                'class' => 'schedule_btn confirm-action',
            ));
            ?>
        </td>
        <?php endif; ?>
        <?php $slot++; ?>
        <?php endwhile; ?>
        <?php else: ?>
        <td colspan="<?php echo $this->limit; ?>" style="background:#ccc;">NO APPOINTMENTS</td>
        <?php endif; ?>
    </tr>
    <?php $start_time += 100; ?>
<?php endwhile; ?>
</table>
<?php else: ?>
<p>You must schedule a walk-through appointment at least 48 hours in advance to use the online form. If there are not 48 hours before your move-out date, please call the University Apartments office to schedule your appointment: (979) 845-2264.</p>
<?php endif; ?>