<?
$this->headTitle('Asset Cost Report');
?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="30%" />
        <col width="40%" />
        <col width="30%" />
    </colgroup>
	<thead>
        <th>Actions</th>
    	<th>Apartment Name</th>
        <th>Current Rent</th>
    </thead>
    <tbody>
    <? foreach($this->report as $asset): ?>
    	<tr>
            <td align="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'money',
                    'href'      => $this->route(array('module' => 'admin', 'controller' => 'assetcosts', 'action' => 'index', 'asset_id' => $asset['id'])),
                    'text'      => 'Set Asset Costs',
                    'target'    => '_blank',
                )) ?>
            </td>
        	<td align="left"><?=$asset['name'] ?></td>
            <td align="center">$<?=number_format($asset['cost'], 2) ?></td>
        </tr>
    <? endforeach; ?>
	</tbody>
</table>