<?
$this->headTitle('Report Center');
?>

<h2>Choose Report</h2>

<dl>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'occupancy')) ?>">Resident Occupancy and Demographic Report</a></dt>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'phone')) ?>">Phone Report</a></dt>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'roster')) ?>">Resident Roster</a></dt>
    <dt><a href="<?=$this->routeFromHere(arraY('action' => 'assetcosts')) ?>">All Asset Costs</a></dt>
</dl>