<?php
$this->headTitle('Resident Roster');
?>
<? if (!$this->executed): ?>
    <h2>About This Report</h2>
    
    <p>This report includes name, uin and apartment for all primary residents.</p>
    
    <div class="buttons">
        <?=$this->button(array(
            'type'      => 'link',
            'href'      => $this->routeFromHere(array('list' => 'non_gp2')),
            'id'		=> 'btn_generate_report',
            'text'		=> 'Generate Report (Non-GP2)',
        )) ?>
        <?=$this->button(array(
            'type'      => 'link',
            'href'      => $this->routeFromHere(array('list' => 'gp2')),
            'id'        => 'btn_generate_report',
            'text'      => 'Generate Report (GP2)',
        )) ?>
    </div>
    
    <div id="dialog_report_running">
        <div style="text-align: center">
            <img src="<?=\DF\Url::content('/jquery/images/preloader.gif'); ?>" alt="(loading)"/>
            <br /><br />
            Please wait. This could take a few minutes.
        </div>
    </div>
    
    <script>
    $(function() {
        $('#dialog_report_running').dialog({
            width: 300,
            height: 150,
            title: 'Generating Report...',
            modal: true,
            autoOpen: false
        });
        $('#btn_generate_report').click(function(){
            $('#dialog_report_running').dialog('open');
        });
    });
    </script>
<? else: ?>
    <h2><? if ($this->list == "gp2"): ?>GP2<? else: ?>Non-GP2<? endif; ?> Resident Roster (<?=count($this->residents) ?> total)</h2>
    
    <div class="buttons">
        <?=$this->button(array(
            'type' => 'link',
            'href' => $this->routeFromHere(array('format' => 'csv')),
            'icon' => 'page_white_excel',
            'text' => 'Download to Excel',
        )) ?>
    </div>
    
    <table class="datatable zebra tablesorter" width="100%">
        <colgroup>
            <col width="25%" />
            <col width="15%" />
            <col width="5%" />
            <col width="25%" />
            <col width="20%" />
            <col width="20%" />
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>UIN</th>
                <th>Apartment</th>
                <th>Family</th>
                <th>Phone</th>
                <th>E-mail Address</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($this->residents as $resident): ?>
            <tr>
                <td><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $resident['id'])) ?>"><?=$resident['surname'] ?>, <?=$resident['first_name'] ?></a></td>
                <td><?=$resident['uin'] ?></td>
                <td><?=$resident['apt'] ?></td>
                <td><?=implode('<br>', $resident['family']) ?></td>
                <td><?=$resident['phone'] ?></td>
                <td><?=$resident['email'] ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
    
    <script>
    $(function() {
        $('table.tablesorter').tablesorter({ widgets: ['zebra'] });
    });
    </script>
<?php endif; ?>