<?
$this->headTitle('Members of Role: '.$this->role->name);
?>

<table class="datatable zebra">
	<colgroup>
    	<col width="15%" />
        <col width="15%" />
        <col width="60%" />
    </colgroup>
	<thead>
   		<tr>
        	<th>Actions</th>
            <th>UIN</th>
            <th>User Name</th>
        </tr> 
    </thead>
    <tbody>
    <? foreach($this->role_members as $member): ?>
    	<tr>
        	<td align="center">
            	<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'class'		=> 'negative confirm-action',
					'href'		=> $this->routeFromHere(array('action' => 'members', 'user_id' => $member['user_id'])),
					'text'		=> 'Delete',
				)) ?>
            </td>
            <td align="center"><?=$member['User']['uin'] ?></td>
            <td align="left"><?=$member['User']['lastname'] ?>, <?=$member['User']['firstname'] ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>