<?
$this->headTitle('Manage Transactions');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'text'      => 'New Transaction',
        'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => 0)),
    )) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="20%" />
        <col width="10%" />
        <col width="70%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Trans. ID</th>
            <th>Memo Notes</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $transaction): ?>
        <tr>
            <td align="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'application_go',
                    'href'      => $this->routeFromHere(array('action' => 'view', 'id' => $transaction->id)),
                    'text'      => 'View',
                )) ?>
            </td>
            <td align="center"><?=$transaction->id ?></td>
            <td align="left"><?=$transaction->memo ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>