<?
$this->headTitle('Rollback TouchNet Transaction');
?>

<h2>Confirm Correct Transaction</h2>

<dl>
	<dt>TouchNet Trace Number:</dt>
    <dd><?=$this->id ?></dd>
    
    <? if ($this->resident): ?>
    <dt>Resident Name:</dt>
    <dd><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $this->resident->id)) ?>" target="_blank"><?=$this->resident->getNameLastFirst() ?></a></dd>
    <? endif; ?>
    
    <dt>Payment Amount:</dt>
    <dd>$<? echo number_format($this->touchnet->payment_amount, 2); ?></dd>
    
    <dt>Local Transaction(s):</dt>
    <dd><ul>
    <? foreach($this->touchnet->RegisterTransaction as $transaction): ?>
    	<li><b>#<?=$transaction->id ?>:</b> <?=$transaction->memo ?></li>
    <? endforeach; ?>
    </ul></dd>
</dl>

<p>To confirm that this is the transaction you wish to rollback and continue the process, click the button below.</p>

<form action="<?=\DF\Url::current() ?>" method="post">
<input type="hidden" name="id" value="<?=$this->id ?>" />
<input type="hidden" name="confirm" value="true" />

<dl>
	<dt>Type of Reversal:</dt>
    <dd><?=$this->formRadio('add_fee', NULL, NULL, array(0 => 'ACH Error', 1 => 'NSF Payment')) ?></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->route(array('module' => 'finances', 'controller' => 'transaction', 'action' => 'rollback')),
		'class'		=> 'positive',
		'icon'		=> 'resultset_previous',
		'text'		=> 'Cancel',
	)) ?>
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'negative confirm-action',
		'icon'		=> 'delete',
		'text'		=> 'Confirm - Rollback Transaction',
	)) ?>
</div>
</form>