<?
$this->headTitle('View Transaction #'.$this->transaction->id);
?>

<h2>Transaction Details</h2>

<div class="smallbuttons">
    <?=$this->button(array(
        'type'      => 'small',
        'icon'      => 'pencil',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
        'text'      => 'Edit Transaction',
    )) ?>
    <?=$this->button(array(
        'type'      => 'small',
        'icon'      => 'delete',
        'class'     => 'negative confirm-delete',
        'href'      => $this->routeFromHere(array('action' => 'delete')),
        'text'      => 'Delete Transaction',
    )) ?>
</div>

<dl>
    <dt>Date Created:</dt>
    <dd><? echo date('F j, Y', $this->transaction->posted); ?></dd>
    
    <dt>Transaction Date:</dt>
    <dd><? echo date('F j, Y', $this->transaction->date); ?></dd>
    
    <dt>Memo:</dt>
    <dd><?=$this->transaction->memo ?></dd>
    
    <dt>Check Reference Number:</dt>
    <dd><?=$this->transaction->check_reference_number ?></dd>
    
    <dt>No Sale:</dt>
    <dd><?=$this->transaction->no_sale ?></dd>
    
    <dt>Register:</dt>
    <dd><?=$this->transaction->Register->name ?></dd>
    
    <dt>Reference Number:</dt>
    <dd><?=$this->transaction->reference_number ?></dd>
    
    <dt>Transaction Source:</dt>
    <dd><?=$this->transaction->Source->name ?></dd>
</dl>

<h2>Transaction Items</h2>

<div class="smallbuttons">
    <?=$this->button(array(
        'type'      => 'small',
        'icon'      => 'add',
        'id'        => 'btn_add_item',
        'text'      => 'Create Transaction Item',
    )) ?>
</div>

<? if ($this->transaction->Splits->count() > 0): ?>
    <table class="datatable zebra">
        <colgroup>
            <col width="20%" />
            <col width="10%" />
            <col width="10%" />
            <col width="45%" />
			<col width="15%" />
        </colgroup>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Resident</th>
				<th>Matching Item?</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($this->transaction->Splits as $split): ?>
            <tr>
                <td align="center">
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'pencil',
                        'href'      => $this->routeFromHere(array('action' => 'editsplit', 'split_id' => $split->id)),
                        'text'      => 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'delete',
                        'href'      => $this->routeFromHere(array('action' => 'deletesplit', 'split_id' => $split->id)),
                        'class'     => 'negative confirm-delete',
                        'text'      => 'Delete',
                    )) ?>
                </td>
                <td align="center"><? if ($split->recurring_type != Split::RECURRING_INACTIVE): ?>Recurring <? endif; ?><? if ($split->credit_or_debit =="D"): ?>Debit<? else: ?>Credit<? endif; ?></td>
                <td align="center">
                    $<? echo number_format($split->split_amount, 2); ?>
                </td>
                <td align="center">
                    <a href="<?=$this->route(array(
                        'module'		=> 'management',
						'controller'	=> 'residents',
						'action'		=> 'view',
						'id'			=> $split->resident->id,
                    ))?>"><?=$split->resident->getNameLastFirst() ?></a>
                </td>
                <td align="center">
					<? if ($split->matching_split_id): ?>
						<?
						$matching_split = Split::find($split->matching_split_id);
						?>
						<a href="<?=$this->routeFromHere(array(
							'id'		=> $matching_split->Transaction->id,
						)) ?>">Yes (Click to View)</a>
					<? else: ?>
						No
					<? endif; ?>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
<? else: ?>
    <p>This transaction has no items.</p>
<? endif; ?>

<div id="dialog_add_item" class="dialog_form">
    <form action="<?=$this->routeFromHere(array('action' => 'editsplit')) ?>" method="get">
    <dl>
        <dt>Resident Name:</dt>
        <dd><?=$this->formSelect('resident_id', NULL, NULL, Resident::fetchSelect()) ?></dd>
    </dl>
    </form>
</div>

<script type="text/javascript">
$(function() {
    $('.dialog_form').dialog({
        width: 600,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
            "Submit": function() { $(this).find('form').submit(); },
            "Close": function() { $(this).dialog('close'); }
        }
    });
    
    $('#btn_add_item').click(function() {
        $('#dialog_add_item').dialog('option', 'title', 'Add Item').dialog('open');
        return false; 
    });
}); 
</script>