<h2>Roommate Request Accepted</h2>

<p>A roommate invitation has been accepted in the system.</p>

<p>The invitation was created by <?php echo $this->invite->Requester->getNameLastFirst(); ?> for apartment <?php echo $this->invite->Asset->name; ?>.</p>

<p>The invitation was sent to <?php echo $this->invite->new_roommate_email; ?></p>