<h2>Resident Signed Online Lease</h2>

<p>A resident has accepted an offer and signed the lease online.</p>

<dl>
	<dt>Resident Name:</dt>
	<dd><?=$this->resident->getNameLastFirst() ?></dd>

	<dt>Apartment Name:</dt>
	<dd><?=$this->asset->name ?></dd>

	<dt>Date Signed:</dt>
	<dd><?=date('F j, Y g:ia') ?></dd>
</dl>

<p>The security deposit has been automatically charged to the user's ledger.</p>