<?
$this->headTitle('View Maintenance Request');
?>

<h2>Request Details</h2>
    
<dl>
    <dt>Apartment or Property:</dt>
    <dd><?=$this->workorder->asset->name ?></dd>
    
    <dt>Location of Issue:</dt>
    <dd><?=$this->workorder->location ?></dd>
    
    <dt>Type of Issue:</dt>
    <dd><?=$this->workorder->Category->name ?></dd>
    
    <dt>Description:</dt>
    <dd><?=$this->workorder->description ?></dd>
    
    <dt>Current Status:</dt>
    <dd><?=$this->workorder->getStatusText() ?></dd>
    
    <dt>Date Submitted:</dt>
    <dd><? echo date('F j, Y', $this->workorder->time_reported); ?></dd>
</dl>

<h2>Submitter</h2>
    
<dl>
    <dt>Name:</dt>
    <dd><?=$this->workorder->submitter_name ?></dd>
    
    <dt>Phone Number:</dt>
    <dd><?=$this->workorder->submitter_phone_number ?></dd>
    
    <dt>E-mail Address:</dt>
    <dd><?=$this->mailto($this->workorder->submitter_email) ?></dd>
</dl>