<?php $this->layout()->setLayout('workorder'); ?>
<?php
if ($this->print_task)
{
    $tasks[] = $this->task;
}
else
{
    $tasks = $this->workorder->Tasks;
}
?>
<div id="printview_message" class="messages yellow">
    <?=$this->icon(array(
            'type'		=> 'png32',
            'image'		=> 'printer',
            'style'		=> 'float: right',
        )) ?>
    <h1>Print View:</h1>
    <h2>Close this window after printing</h2>
</div>
<? if (count($tasks) > 0): ?>
    <? foreach($tasks as $task_index => $task): ?>
    <div class="wo_page">
    <h2>Request Details</h2>

        <dl class="wo_log">
        <dt>Date Started:</dt>
        <? if ($this->workorder->time_started > 0): ?>
        <dd><? echo date('F j, Y g:ia', $this->workorder->time_started); ?></dd>
        <? else: ?>
        <dd class="blank_box"></dd>
        <? endif; ?>

        <dt>Date Completed:</dt>
        <? if ($this->workorder->time_done > 0): ?>
        <dd><? echo date('F j, Y g:ia', $this->workorder->time_done); ?></dd>
        <? else: ?>
        <dd class="blank_box"></dd>
        <? endif; ?>

        <dt>Time Spent:</dt>
        <? if ($this->workorder->time_spent > 0): ?>
        <dd class="blank_box"><? echo $this->workorder->time_spent; ?></dd>
        <? else: ?>
        <dd class="blank_box"></dd>
        <? endif; ?>

        <dt>Done Comments:</dt>
        <dd class="done_comments_box"><?php echo nl2br($this->workorder->notes); ?></dd>

        <dt>Parts Used:</dt>
        <? if ($task->InventoryParts->count() > 0): ?>
            <? foreach($task->InventoryParts as $part): ?>
            <dd><?=$part->name ?> (Part #<?=$part->part_number ?>)</dd>
            <? endforeach; ?>
        <? else: ?>
            <dd class="parts_used_box"></dd>
        <? endif; ?>
        </dl>
    <dl>
        <dt>Work Order ID</dt>
        <dd><?=$this->workorder->id ?></dd>

        <dt>Apartment or Property:</dt>
        <dd><?=$this->workorder->asset->name ?></dd>

        <dt>Location of Issue:</dt>
        <dd><?=$this->workorder->location ?></dd>

        <dt>Type of Issue:</dt>
        <dd><?=$this->workorder->Category->name ?></dd>

        <dt>Origin of Request:</dt>
        <dd><?=$this->workorder->getOrigin() ?></dd>

        <dt>Description:</dt>
        <dd><?=$this->workorder->description ?></dd>

        <dt>Current Status:</dt>
        <dd><?=$this->workorder->getStatusText() ?></dd>

        <? if (trim($this->workorder->deferred_to) != ''): ?>
        <dt>Deferred to:</dt>
        <dd><?=$this->workorder->deferred_to ?></dd>
        <? endif; ?>

        <dt>Date Submitted:</dt>
        <dd><? if ($this->workorder->time_reported > 0) echo date('F j, Y g:ia', $this->workorder->time_reported); ?></dd>

    </dl>

    <h2>Submitter</h2>

    <dl>
        <dt>Name:</dt>
        <dd><?=$this->workorder->submitter_name ?></dd>

        <dt>Phone Number:</dt>
        <dd><?=$this->workorder->submitter_phone_number ?></dd>

        <dt>E-mail Address:</dt>
        <dd><?=$this->mailto($this->workorder->submitter_email) ?></dd>
    </dl>

    <h2>Task Details</h2>

            <div class="wo_task">

                    <big><?=$task->JobDescription->name ?></big><br />


                    <dl>
                        <dt>Status:</dt>
                        <dd><?=$task->getStatusText() ?></dd>

                        <dt>Description:</dt>
                        <dd><? echo nl2br($task->description); ?></dd>

                        <? if ($task->time_started > 0): ?>
                        <dt>Date Started:</dt>
                        <dd><? echo date('F j, Y g:ia', $task->time_started); ?></dd>
                        <? endif; ?>

                        <? if ($task->time_done > 0): ?>
                        <dt>Date Completed:</dt>
                        <dd><? echo date('F j, Y g:ia', $task->time_done); ?></dd>
                        <? endif; ?>

                        <? if ($task->time_spent > 0): ?>
                        <dt>Time Spent:</dt>
                        <dd><? echo $task->time_spent; ?></dd>
                        <? endif; ?>

                        <dt>Comments:</dt>
                        <dd><? echo nl2br($task->comments); ?></dd>

                        <dt>Workers:</dt>
                        <dd>
                        <? if ($task->Workers->count() > 0): ?>
                            <? foreach($task->Workers as $worker): ?>
                            <div><?=$worker->name ?><span class="signature_line">Technician's Signature</span></div>
                            <? endforeach; ?>
                        <? else: ?>
                            No workers currently assigned.
                        <? endif; ?>
                        </dd>
                    </dl>
            </div>

            <div class="survey">
            <p>We would appreciate any evaluative comments on work and timeliness of the repair that you would like to report by going to:</p>
            <blockquote>http://reslife.tamu.edu/ua/info/evaluation.asp</blockquote>
            <p>These comments will be communicated directly to the Associate Director</p>
            </div>
    </div>
    <? if (count($tasks) > 1): ?>
    <div class="wo_pagebreak"></div>
    <? endif; ?>
    <? endforeach; ?>
<? else: ?>
<div class="wo_page">
    <h2>Request Details</h2>

    <dl class="wo_log">
    <dt>Date Started:</dt>
    <? if ($this->workorder->time_started > 0): ?>
    <dd><? echo date('F j, Y g:ia', $this->workorder->time_started); ?></dd>
    <? else: ?>
    <dd class="blank_box"></dd>
    <? endif; ?>

    <dt>Date Completed:</dt>
    <? if ($this->workorder->time_done > 0): ?>
    <dd><? echo date('F j, Y g:ia', $this->workorder->time_done); ?></dd>
    <? else: ?>
    <dd class="blank_box"></dd>
    <? endif; ?>

    <dt>Time Spent:</dt>
    <? if ($this->workorder->time_spent > 0): ?>
    <dd class="blank_box"><? echo $this->workorder->time_spent; ?></dd>
    <? else: ?>
    <dd class="blank_box"></dd>
    <? endif; ?>

    <dt>Done Comments:</dt>
    <dd class="done_comments_box"><?php echo nl2br($this->workorder->notes); ?></dd>

    <dt>Parts Used:</dt>
    <? if ($this->workorder->InventoryParts->count() > 0): ?>
        <? foreach($this->workorder->InventoryParts as $part): ?>
        <dd><?=$part->name ?> (Part #<?=$part->part_number ?>)</dd>
        <? endforeach; ?>
    <? else: ?>
        <dd class="parts_used_box"></dd>
    <? endif; ?>
    </dl>
    <dl>
    <dt>Work Order ID</dt>
    <dd><?=$this->workorder->id ?></dd>

    <dt>Apartment or Property:</dt>
    <dd><?=$this->workorder->asset->name ?></dd>

    <dt>Location of Issue:</dt>
    <dd><?=$this->workorder->location ?></dd>

    <dt>Type of Issue:</dt>
    <dd><?=$this->workorder->Category->name ?></dd>

    <dt>Origin of Request:</dt>
    <dd><?=$this->workorder->getOrigin() ?></dd>

    <dt>Description:</dt>
    <dd><?=$this->workorder->description ?></dd>

    <dt>Current Status:</dt>
    <dd><?=$this->workorder->getStatusText() ?></dd>

    <? if (trim($this->workorder->deferred_to) != ''): ?>
    <dt>Deferred to:</dt>
    <dd><?=$this->workorder->deferred_to ?></dd>
    <? endif; ?>

    <dt>Date Submitted:</dt>
    <dd><? if ($this->workorder->time_reported > 0) echo date('F j, Y g:ia', $this->workorder->time_reported); ?></dd>

    <dt>Workers:</dt>
    <dd>
    <? if ($this->workorder->Workers->count() > 0): ?>
        <? foreach($this->workorder->Workers as $worker): ?>
        <div><?=$worker->name ?><span class="signature_line">Technician's Signature</span></div>
        <? endforeach; ?>
    <? else: ?>
        <div class="blank_box"></div>
    <? endif; ?>
    </dd>
    </dl>

    <h2>Submitter</h2>

    <dl>
        <dt>Name:</dt>
        <dd><?=$this->workorder->submitter_name ?></dd>

        <dt>Phone Number:</dt>
        <dd><?=$this->workorder->submitter_phone_number ?></dd>

        <dt>E-mail Address:</dt>
        <dd><?=$this->mailto($this->workorder->submitter_email) ?></dd>
    </dl>
    <div class="survey">
        We would appreciate any evaluative comments on work and timeliness of the repair that you would like to report by going to:<br/>
        http://reslife.tamu.edu/ua/info/evaluation.asp<br/>
        These comments will be communicated directly to the Associate Director
    </div>
</div>
<? endif; ?>
<style>
#header, #footer, #copyright, #print_header,
h1.title {
    display: none;
}
html, body {
    background: #fff;
    margin: 0;
    padding: 0;
}
.wo_request_details {
    font-size: 14pt;
}
.wo_pagebreak {
    page-break-after: always;
}
.wo_task .smallbuttons {
    display: none;
}
.wo_page .survey {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.wo_page .survey p
.wo_page .survey blockquote {
    font-size: 7pt;
    margin: 0;
}
.wo_page .wo_log {
    display: block;
    float: right;
    width: 50%;
}
.wo_page .done_comments_box,
.wo_page .parts_used_box {
    height: 10em;
    border: 1px solid #ccc;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
    window.print();
});
</script>
