<?
$this->headTitle('View Requests');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'text'      => 'New Request',
        'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => 0)),
    )) ?>
</div>

<?php if ($this->requests['pager']) print $this->doctrinePager($this->requests['pager']); ?>

<?php
$body = array();
foreach($this->requests['results'] as $request)
{
    $button = $this->button(array(
        'type'      => 'small',
        'icon'      => 'table_go',
        'href'      => $this->routeFromHere(array('action' => 'view', 'id' => $request->id)),
        'text'      => 'View',
    ));
    $progress = $request->getProgress();
    $body[] = array(
        '<a href="'.$this->routeFromHere(array('action' => 'view', 'id' => $request->id)).'" title="View Request">'.
        $request->id.'</a>',
        '<big>'.$request->asset->name.'</big><br />'.$request->location,
        $request->Category->name,
        $request->getStatusText().($progress ? '<br/>('.$progress['completed'].'/'.$progress['total'].' complete)': ''),
        '<b>'.$request->submitter_name.'</b><br />'.$request->submitter_phone_number.' - '.$this->mailto($request->submitter_email),
        $this->dateOrDefault($request->time_reported),
        $this->dateOrDefault($request->time_started),
        $this->dateOrDefault($request->time_done),
        (strlen($request->description) > 30 ? '<span title="'.$request->description.'">'.substr($request->description, 0, 30).'&hellip;</span>' : $request->description) .'<hr/>'. (strlen($request->notes) > 30 ? '<span class="showmore" title="'.$request->notes.'">'.substr($request->notes, 0, 30).'&hellip;</span>' : $request->notes),
        );
}
    $header = array(
        array(
            'sortable' => array(
                'key' => 'id',
            ),
            'data' => 'ID',
        ),
        array(
            'sortable' => array(
                'key' => 'location',
            ),
            'data' => 'Location',
            'style' => 'width: 10%;',
        ),
        array(
            'sortable' => array(
                'key' => 'category',
            ),
            'data' => 'Category',
        ),
        array(
            'sortable' => array(
                'key' => 'status',
            ),
            'data' => 'Status',
        ),
        array(
            'data' => 'Submitter Name',
            'style' => 'width:15%;',
        ),
        array(
            'sortable' => array(
                'key' => 'time_reported',
            ),
            'data' => 'Time Reported',
            'style' => 'width:10%;',
        ),
        array(
            'sortable' => array(
                'key' => 'time_started',
            ),
            'data' => 'Time Started',
            'style' => 'width:10%;',
        ),
        array(
            'sortable' => array(
                'key' => 'time_done',
            ),
            'data' => 'Time Done',
            'style' => 'width:10%;',
        ),
        array(
            'data' => 'Description/Done Comments',
            'style' => 'width:15%;',
        ),
    );

    print $this->table()
        ->setOptions(array(
            'style' => 'width: 100%',
        ))
        ->setHeader(array($header))
        ->setBody($body);
?>

<?php if ($this->requests['pager']) print $this->doctrinePager($this->requests['pager']); ?>