<?
$this->headTitle('Manage Resident Types');
?>
<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'add')),
		'icon'		=> 'add',
		'text'		=> 'Add Resident Type',
	)) ?>
</div>

<table class="table table-striped">
	<colgroup>
    	<col width="15%" />
        <col width="85%" />
    </colgroup>
<? foreach($this->all_records as $record): ?>
    <tr>
    	<td align="center">
        	<?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'delete',
				'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record->id, 'csrf' => \DF\Csrf::getToken())),
				'text'		=> 'Delete',
			)) ?>
        </td>
    	<td align="left"><?=$record->name; ?></td>
    </tr>
<? endforeach; ?>
</table>

