<?
$this->headTitle('Manage Quizzes');
?>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'class'     => 'large success',
        'text'      => 'Add Quiz',
        'href'      => $this->routeFromHere(array('action' => 'editquiz', 'id' => 0)),
    )) ?>
</div>

<table class="table" width="100%">
    <colgroup>
        <col width="30%" />
        <col width="70%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Quiz Title</th>
        </tr>
    </thead>
    <tbody>
        <? foreach($this->all_quizzes as $quiz): ?>
        <tr class="input">
            <td class="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'cog',
                    'text'      => 'Manage',
                    'class'     => 'primary',
                    'href'      => $this->routeFromHere(array('action' => 'quiz', 'id' => $quiz->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'text'      => 'Edit',
                    'href'      => $this->routeFromHere(array('action' => 'editquiz', 'id' => $quiz->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'text'      => 'Delete',
                    'class'     => 'danger confirm-delete',
                    'href'      => $this->routeFromHere(array('action' => 'deletequiz', 'id' => $quiz->id, 'csrf' => \DF\Csrf::getToken())),
                )) ?>
            </td>
            <td align="left">
                <big><?=$quiz->name ?></big><br />
                <p><?=$quiz->description ?></p>
            </td>
        </tr>
        <? endforeach; ?>
    </tbody>
</table>