<?
$this->headTitle('Manage Quiz: '.$this->quiz->title);
?>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large success',
        'icon'      => 'add',
        'text'      => 'Add Question',
        'href'      => $this->routeFromHere(array('action' => 'editquestion', 'id' => $this->quiz->id, 'qid' => 0))
    )) ?>
</div>

<? if (count($this->quiz->questions) > 0): ?>
    <h2>Questions</h2>
    
    <? foreach($this->quiz->questions as $question): ?>
    <dl>
        <dt><?=$question->question ?></dt>
        <dd>
        <? if (count($question->options) > 0): ?>
            <? $i = 1; ?>
            <? foreach($question->options as $option): ?>
            <div><b><?=chr(64+$i) ?>:</b> <?=$option->option_text ?> <? if ($option->id == $question->correct_answer_id): ?>(Correct)<? endif; ?></div>
            <? $i++; ?>
            <? endforeach; ?>
        <? else: ?>
            This question has no options listed.
        <? endif; ?>
        </dd>
        <dd>
            <?=$this->button(array(
                'type'      => 'small',
                'icon'      => 'pencil',
                'text'      => 'Edit Question',
                'href'      => $this->routeFromHere(array('action' => 'editquestion', 'id' => $this->quiz->id, 'qid' => $question->id)),
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'class'     => 'danger confirm-delete',
                'icon'      => 'delete',
                'text'      => 'Delete Question',
                'href'      => $this->routeFromHere(array('action' => 'deletequestion', 'id' => $this->quiz->id, 'qid' => $question->id, 'csrf' => \DF\Csrf::getToken())),
            )) ?>
        </dd>
    </dl>
    <? endforeach; ?>
<? endif; ?> 