<?
$this->headtitle('Manage Users');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success',
		'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'add' )),
		'icon'		=> 'add',
		'text'		=> 'Add New User',
	)) ?>
</div>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
	<h2>View All Users</h2>
<? endif; ?>

<form class="form-search" action="<?=$this->routeFromHere(array('searchterms' => NULL, 'page' => 1)) ?>" method="get">
	<input type="text" placeholder="Name, UIN, NetID" name="searchterms" value="<?=$this->searchterms ?>" class="input-medium search-query">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'find',
		'text'		=> 'Search Users',
	)) ?>
</form>

<?=$this->paginate($this->pager) ?>

<table class="table table-striped">
	<colgroup>
		<col width="20%">
		<col width="30%">
		<col width="15%">
		<col width="35%">
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Name</th>
			<th>UIN</th>
			<th>Roles</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $user): ?>
		<tr class="input">
			<td>
				<?=$this->button(array(
					'type'		=> 'small',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $user->id)),
					'icon'		=> 'pencil',
					'text'		=> 'Edit',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'href'		=> $this->routeFromHere(array('action' => 'toggleuser', 'id' => $user->id, 'csrf' => $token)),
					'text'		=> ($user->active) ? 'Deactivate' : 'Activate',
					'icon'		=> ($user->active) ? 'user_delete' : 'user_add',
				)) ?>
			</td>
			<td><big><?=$user->lastname ?>, <?=$user->firstname ?></big></td>
			<td><?=$user->uin ?></td>
			<td><small>
			<?
			$roles = $user->roles;
			$roles_arr = array();
			if (count($roles) > 0)
			{
				foreach($roles as $role)
					$roles_arr[] = $role->name;
			}

			echo implode('<br>', $roles_arr);
			?></small></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>