<?
use \Entity\Application;

$statuses = Application::getStatusNames();
?>
<ul class="nav nav-pills autoselect" rel="<?=$this->status_id ?>">
<? foreach($statuses as $status_id => $status_name): ?>
	<li rel="<?=$status_id ?>"><a href="<?=$this->routeFromHere(array('status' => $status_id, 'page' => 1)) ?>"><?=$status_name ?></a></li>
<? endforeach; ?>
</ul>