<?
use \Entity\Application;
use \Entity\Occupancy;
use \Entity\Offer;
use \Entity\Split;

$this->headTitle('Manage Applications');
$this->layout()->tabs = $this->renderHere('application_tabs');

$edit = (\DF\Acl::getInstance()->isAllowed('manage applications')) ? true : false;
$token = \DF\Csrf::getToken();
?>

<? if ($this->status_id == Application::STATUS_WAITING && $edit): ?>
<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
        'class'     => 'large success',
		'href'		=> $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'add' )),
		'icon'		=> 'add',
		'text'		=> 'Add New Application',
	)) ?>
</div>
<? endif; ?>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
    <h2>View Applications</h2>
<? endif; ?>

<form class="form-search" action="<?=$this->routeFromHere(array('searchterms' => NULL, 'page' => 1)) ?>" method="get">
    <input type="text" placeholder="Name, UIN, NetID" name="searchterms" value="<?=$this->searchterms ?>" class="input-medium search-query">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'find',
        'text'      => 'Search Applications',
    )) ?>
</form>

<?=$this->paginate($this->pager) ?>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>UIN</th>
            <th>Length</th>
            <th>By</th>
            <th>Deposit/Type</th>
            <th>Move-In</th>
            <th>App&nbsp;Date</th>
            <th>Vet?</th>
            <th>Police/Fire?</th>
        </thead>
        <tbody>
        <? foreach($this->pager as $app): ?>
            <?
            $offer_match_button = $this->button(array(
                'type' => 'small',
                'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'offer', 'id' => $app->id)),
                'class' => 'positive',
                'text' => 'Match',
            ));
            
            $offer_any_button = $this->button(array(
                'type' => 'small',
                'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'offer', 'match' => 'false', 'id' => $app->id)),
                'text' => 'Offer',
            ));
            
            $view_button = $this->button(array(
                'type' => 'small',
                'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'view', 'id' => $app->id)),
                'text' => 'View',
            ));

            if ($app->application_status_id == Application::STATUS_RENEWAL)
            {
                $edit_button = '';
            }
            else
            {
                $edit_button = $this->button(array(
                    'type' => 'small',
                    'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'edit', 'id' => $app->id)),
                    'text' => 'Edit',
                ));
            }
            
            $delete_button = $this->button(array(
                'type' => 'small',
                'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'delete', 'id' => $app->id, 'csrf' => $token)),
                'text' => 'Delete',
                'class' => 'delete-button negative confirm-delete',
            ));
            
            $occupancies = Occupancy::getActiveByResidentId($app->resident->id);
            if ($occupancies)
            {
                foreach($occupancies as $occ)
                {
                    $offer_button = $this->button(array(
                        'type' => 'small',
                        'href' => $this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'edit', 'id' => $occ->id)),
                        'text' => 'Assign',
                    ));
                }
            }

            $choices = $app->fetchWaitingListTypes();
            $vacant = $this->vacant[date('Y-m', $app->desired_move_in)];

            if ($app->application_fee->id)
            {
                if ((count($choices) > 0) && (is_array($vacant)) && (array_intersect($choices, $vacant)))
                    $actions = $offer_match_button.'&nbsp;'.$view_button.'&nbsp;'.$edit_button.'&nbsp;'.$delete_button;
                else
                    $actions = $offer_any_button.'&nbsp;'.$view_button.'&nbsp;'.$edit_button.'&nbsp;'.$delete_button;
            }
            else
            {
                $actions = $view_button.'&nbsp;'.$edit_button.'&nbsp;'.$delete_button;
            }

            if (!$edit)
                $actions = $view_button;
            
            $offer = Offer::fetchByApplicationId($app->id);
            
            if ($app->application_status_id == Application::STATUS_DEPOSIT)
            {
                $deposit_heading = 'Deposit?';

                if ($app->is_renewal)
                {
                    $deposit = 'N/A';
                }
                else
                {
                    $resident = $app->resident;
                    $split_items = Split::fetchByResidentId($resident->id, Split::LEDGER_DEPOSITS);
                    $has_paid_deposit = FALSE;
                    
                    if ($split_items)
                    {
                        foreach($split_items as $split)
                        {
                            if ($split->Item->name == "Security Deposit")
                                $has_paid_deposit = TRUE;
                        }
                    }
                    
                    $deposit = ($has_paid_deposit) ? 'Yes' : 'No';
                }
            }
            else if ($app->application_status_id == Application::STATUS_RENEWAL)
            {
                $deposit_heading = 'Apt #';
                $deposit = $app->occupancy->asset->name;
            }
            else
            {
                $deposit_heading = 'App Fee?';

                if ($app->is_renewal)
                {
                    $deposit = 'N/A';
                }
                else
                {
                    $resident = $app->resident;
                    $split_items = Split::fetchByResidentId($resident->id, Split::LEDGER_STANDARD);

                    $has_paid_fee = FALSE;
                    $has_fee_charges = FALSE;
                    
                    if ($split_items)
                    {
                        $has_fee_charges = FALSE;
                        $fee_balance = 0;

                        foreach($split_items as $split)
                        {
                            if ($split->Item->name == "Application Fee")
                            {
                                $has_fee_charges = TRUE;
                                $fee_balance += $split->split_amount;
                            }
                        }

                        $has_paid_fee = ($has_fee_charges && $fee_balance == 0);
                    }

                    if ($has_paid_fee)
                        $deposit = 'Yes';
                    else if ($has_fee_charges)
                        $deposit = 'No';
                    else
                        $deposit = '<abbr title="This user has not been charged an application fee.">Error</abbr>';
                }
            }

            $name_line = $app->resident->getNameLastFirst();

            if (($offer->id) && ($offer->response_deadline > 0))
                $name_line .= '<br/><small>Response deadline: '.date('m/d/Y', $offer->response_deadline).'</small>';
            
            if ($app->is_renewal)
            {
                $prefix = ($app->requested_occupancy_model == 0) ? 'Renewal' : 'Conversion';
                $name_line = '('.$prefix.') '.$name_line;
                if ($app->requested_occupancy_model == 1)
                    $apt_vs_rm = 'Bed';
                else if ($app->requested_occupancy_model == 2)
                    $apt_vs_rm = 'Rm';
                else
                    $apt_vs_rm = 'Apt';
            }
        ?>
        <tr>
            <td><?=$actions ?></td>
            <td><?=$name_line ?></td>
            <td><?=$app->resident->uin ?></td>
            <td><?=(($app->requested_lease_length < 2) ? 'M2M' : $app->requested_lease_length.'-Mo') ?></td>
            <td><?=$apt_vs_rm ?></td>
            <td><?=$deposit ?></td>
            <td><?=$this->dateOrDefault('m/d/Y', $app->desired_move_in) ?></td>
            <td><?=$this->dateOrDefault('m/d/Y g:ia', $app->application_date) ?></td>
            <td><? if ($app->military_vet == 1): ?><?=$this->icon('check') ?><? endif; ?></td>
            <td><? if ($app->police_fireprotection == 1): ?><?=$this->icon('check') ?><? endif; ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>