<?php
$title = 'Apartment Offer';
$this->headTitle($title);
$this->layout()->manual = TRUE;
?>
<div class="<? if ($this->app->is_renewal): ?>span12<? else: ?>span6<? endif; ?>">
    <div class="floating">
        <h2>Application Details</h2>

        <dl>
            <dt>Application Date:</dt>
            <dd><?=$this->dateOrDefault($this->app->application_date); ?></dd>

            <dt>Application Type:</dt>
            <dd>
            <? if ($this->app->is_renewal): ?>
                Renewal of Existing Lease
            <? else: ?>
                New Resident Application
            <? endif; ?>
            </dd>
        </dl>
<? if ($this->app->is_renewal): ?>
        <dl>
            <dt>Current Apartment:</dt>
            <dd><?=$this->app->occupancy->asset->name ?></dd>

            <dt>Current Occupancy End Date:</dt>
            <dd>
            <? if ((int)$this->app->occupancy->end_date != 0): ?>
                <?=date('F j, Y', $this->app->occupancy->end_date) ?>
            <? else: ?>
                N/A (Currently in month-to-month lease)
            <? endif; ?>
            </dd>
            
            <dt>Requested Occupancy Model:</dt>
            <dd><?php if ($this->app->requested_occupancy_model == 1) { echo 'By the Bed'; } else if ($this->app->requested_occupancy_model == 2) { echo 'By the Room'; } else { echo 'By the Apartment'; } ?></dd>
            <?php if ($this->app->requested_occupancy_model > 0): ?>
            <dd><strong style="color:red;">For conversions, you must change the Asset Type before offering the apartment!</strong></dd>
            <?php endif; ?>
        </dl>
<? else: ?>
        <dl>
            <dt>Requested Move-in Date:</dt>
            <dd><?php echo $this->dateOrDefault($this->app->desired_move_in); ?></dd>
            
            <dt>Requested Lease Length:</dt>
            <dd><?php if ($this->app->requested_lease_length > 1) { echo $this->app->requested_lease_length.' months'; } else { echo 'month-to-month'; } ?></dd>
            
            <dt>Requested Occupancy Model:</dt>
            <dd><?php if ($this->app->requested_occupancy_model == 1) { echo 'By the Bed'; } else if ($this->app->requested_occupancy_model == 2) { echo 'By the Room'; } else { echo 'By the Apartment'; } ?></dd>
            
            <dt>Floor Preference:</dt>
            <dd><?php echo $this->app->floor_preference; ?></dd>

        <? if (trim($this->app->special_needs) != ''): ?>
            <dt>Special Needs</dt>
            <dd><?php echo nl2br($this->app->special_needs); ?></dd>
        <? endif; ?>

            <dt>Military Vet</dt>
            <dd><?php echo ($this->app->military_vet == 1) ? 'Yes' : 'No'; ?></dd>

            <dt>Police/Fire Protection</dt>
            <dd><?php echo ($this->app->police_fireprotection == 1) ? 'Yes' : 'No'; ?></dd>
        </dl>
<? endif; ?>
<?php echo $this->form; ?>
    </div>
</div>
<? if (!$this->app->is_renewal): ?>
<div class="span6">
    <div class="floating" id="rank">
        <h2>Ranking by Apartment Type</h2>
        
        <?php if (count($this->ranks) > 0): ?>
        <table class="datatable zebra">
            <thead>
                <tr>
                    <th>Pref</th>
                    <th>Description</th>
                    <th>Occupancy Model</th>
                    <th>Waiting List Rank</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach($this->ranks as $pref => $details): ?>
                <tr>
                    <td><?php print $pref; ?></td>
                    <td><?php print $details['description']; ?></td>
                    <td><?php print $details['occupancy_model']; ?></td>
                    <td><?php print $details['rank']; ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <?php endif; ?>
    </div>
</div>
<? endif; ?>
<div class="clear">&nbsp;</div>