<?php
$this->headTitle('View Application');
$this->layout()->manual = TRUE;
?>
<div class="row">
    <div class="span6">
        <div class="floating">
            <h2>Application Details</h2>

            <div class="buttons well">
                <?=$this->button(array(
                    'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'edit', 'id' => $this->app->id)),
                    'icon' => 'pencil',
                    'text' => 'Edit Application',
                ));?>
            <? if ($this->match): ?>
                <?=$this->button(array(
                    'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'offer', 'id' => $this->app->id)),
                    'icon' => 'flag_green',
                    'text' => 'Match',
                )) ?>
            <? else: ?>
                <?=$this->button(array(
                    'href' => $this->route(array('module' => 'management', 'controller' => 'applications', 'action' => 'offer', 'match' => 'false', 'id' => $this->app->id)),
                    'icon' => 'house',
                    'text' => 'Offer',
                )) ?>
            <? endif; ?>
                <?=$this->button(array(
                    'href' => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $this->app->resident->id)),
                    'icon' => 'vcard',
                    'text' => 'Resident Info',
                )) ?>
            </div>
            
            <dl>
                <dt>Applicant Name:</dt>
                <dd><?=$this->app->resident->getNameFirstLast() ?></dd>
                
                <dt>Applicant UIN:</dt>
                <dd><?=$this->app->resident->uin ?></dd>
                
                <dt>Application Date:</dt>
                <dd><?=$this->dateOrDefault($this->app->application_date) ?></dd>
                
                <dt>Requested Move-in Date:</dt>
                <dd><?php echo $this->dateOrDefault($this->app->desired_move_in); ?></dd>
                
                <dt>Requested Lease Length:</dt>
                <dd><?php if ($this->app->requested_lease_length > 1) { echo $this->app->requested_lease_length.' months'; } else { echo 'month-to-month'; } ?></dd>
                
                <dt>Requested Occupancy Model:</dt>
                <dd><?php if ($this->app->requested_occupancy_model == 1) { echo 'By the Bed'; } else if ($this->app->requested_occupancy_model == 2) { echo 'By the Room'; } else { echo 'By the Apartment'; } ?></dd>
                <?php if ($this->app->requested_occupancy_model > 0): ?>
                <dd><strong style="color:red;">For conversions, you must change the Asset Type before offering the apartment!</strong></dd>
                <?php endif; ?>
                
                <dt>Floor Preference:</dt>
                <dd><?php echo $this->app->floor_preference; ?></dd>
                
            <?php if (trim($this->app->special_needs) != ''): ?>
                <dt>Special Needs</dt>
                <dd><?php echo nl2br($this->app->special_needs); ?></dd>
            <?php endif; ?>
            
                <dt>Military Vet</dt>
                <dd><?php echo ($this->app->military_vet == 1) ? 'Yes' : 'No'; ?></dd>
                
                <dt>Police/Fire Protection</dt>
                <dd><?php echo ($this->app->police_fireprotection == 1) ? 'Yes' : 'No'; ?></dd>
                
                <dt>International Student</dt>
                <dd><?php echo ($this->app->resident->international_student ? 'Yes' : 'No'); ?></dd>
                
                <dt>Classification</dt>
                <dd><?php echo $this->app->resident->classification; ?></dd>
                
                <dt>Marital Status</dt>
                <dd><?php echo $this->app->resident->marital_status; ?></dd>
                
                <dt>Number of Children</dt>
                <dd><?php echo intval($this->app->resident->number_of_children); ?></dd>
                
                <dt>Response Deadline</dt>
                <dd><?php echo $this->dateOrDefault($this->offer->response_deadline); ?></dd>
            </dl>
        </div>
    </div>
    <div class="span6">
        <div class="floating" id="rank">
            <h2>Ranking by Apartment Type</h2>
            
            <?php if (count($this->ranks) > 0): ?>
            <table class="datatable zebra">
                <thead>
                    <tr>
                        <th>Pref</th>
                        <th>Description</th>
                        <th>Occupancy Model</th>
                        <th>Waiting List Rank</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->ranks as $pref => $details): ?>
                    <tr>
                        <td><?php print $pref; ?></td>
                        <td><?php print $details['description']; ?></td>
                        <td><?php print $details['occupancy_model']; ?></td>
                        <td><?php print $details['rank']; ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <?php endif; ?>
        </div>
        &nbsp;
        <br>
        <div class="floating">
            <h2>Application Fee</h2>
        
        <? if ($this->has_paid_app_fee): ?>
            <?=$this->icon(array('image' => 'tick', 'type' => 'png32', 'style' => 'float: right')) ?>
            <p>This applicant has paid the application fee.</p>
        <? else: ?>
            <?=$this->icon(array('image' => 'cross', 'type' => 'png32', 'style' => 'float: right')) ?>
            <p>This applicant has not paid the application fee.</p>
        <? endif; ?>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>